.form-inline .input-group {
  width: 100%;
}

.company-selection-container {
  margin-top: 2rem;
}

.company-item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 0.3rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.company-item.active {
  box-shadow: 0 3px 6px rgba(125, 149, 255, 0.2);
  background-color: #007bff;
  color: #fff;
}

.company-item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.company-name {
  font-weight: bold;
  margin: 0;
}

.company-regis {
  margin: 0;
  font-size: 0.8rem;
  font-weight: normal;
}


.card.select-company-card.fixed {
    position: fixed;
    top: 1rem;
}