html {
    font-size: 14px;
}

body {
    overflow-x: hidden;
}

#globalLoadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1050;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait;
}

.no-pointer-events {
    pointer-events: none !important;
    user-select: none !important;
}

.prevent-typing {
    background-color: #e9ecef;
    pointer-events: none;
}

input:disabled {
    background-color: #e9ecef !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.swal2-popup.swal2-toast .swal2-title {
    line-height: unset;
    font-weight: bold;
}

.swal2-popup.swal2-toast .swal2-html-container {
    margin: 0 1em
}


.select2-container {
    width: 100% !important;
}

.select2-results__option[aria-disabled="true"] {
    background-color: #f5f5f5;
    color: #888;
}

.input-group .flatpickr-input {
    background-color: #Fff;
}

    .input-group .flatpickr-input + .form-control.input {
        background-color: #Fff;
    }

:not(.collapsed-card) .card-body.row {
    display: flex
}

.divider-line {
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
    margin: 0.5rem 0;
}


.dataTables_filter {
    display: flex;
    justify-content: end
}

.dataTables_paginate ul.pagination {
    justify-content: end
}

.select2-container.modal-select2 {
    z-index: 1060 !important;
}


#previews .dz-preview {
    border: 1px solid #dee2e6;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    background: #f8f9fa;
}

.form-info-label {

    margin: 1rem .5rem;
    border-bottom: solid 1.5px #e0e0e0;
    width:calc(100% - 1rem);
}

    .form-info-label label {
        font-size: 0.85rem;
        margin-left: -.5rem;
    }
