
@{
    ViewData["Title"] = "AEX41AuditOTorAEXSchedulingForCurrentYear";
}

<div class="row">
    <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">AT4.1 Audit OT / AEX Scheduling For CurrentYear</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body">
                <!-- Form 1 -->
                <form>
                    <div class="row">
                        <div class="form-info-label col-12">
                            <label>Audit Scheduling (Current Year)</label>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Grouping</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Company Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Quarter to Audit</label>
                                <select class="form-control select2"></select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Activity</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="divider-line"></div>

                <!-- Form 2 -->
                <form>
                    <div class="row">
                        <div class="form-info-label col-12">
                            <label>Audit Timeline</label>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Year End</label>
                                <select class="form-control select2"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Year to do</label>
                                <div class="input-group">
                                    <input type="text" value="yyyy-mm-dd" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Move to Active Sch</label>
                                <div class="input-group">
                                    <input type="text" value="yyyy-mm-dd" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Move to Backlog</label>
                                <div class="input-group">
                                    <input type="text" value="yyyy-mm-dd" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="divider-line"></div>

                <!-- Form 3 -->
                <form>
                    <div class="row">
                        <div class="form-info-label col-12">
                            <label>Audit Deadline</label>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>1st 18 Mths (Incorp date)</label>
                                <div class="input-group">
                                    <input type="text" value="yyyy-mm-dd" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Audited Acc Due Date</label>
                                <div class="input-group">
                                    <input type="text" value="yyyy-mm-dd" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Co Sec?</label>
                                <select class="form-control select2"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Team (Audit Staff)</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="divider-line"></div>

                <!-- Form 4 -->
                <form>
                    <div class="row">
                        <div class="form-info-label col-12">
                            <label>Review & Completion</label>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date Start</label>
                                <div class="input-group">
                                    <input type="text" value="yyyy-mm-dd" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Exit Rev / HOD (CHO)</label>
                                <div class="input-group">
                                    <input type="text" value="yyyy-mm-dd" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Acting WH</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Job Completed</label>
                                <div class="input-group">
                                    <input type="text" value="yyyy-mm-dd" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Remarks</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="divider-line"></div>
            </div>

        </div>
        <!-- /.card-body -->
        <!-- /.card -->
    </div>
</div>
