
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/home.css" rel="stylesheet"/>

<div class="row home-logo-container">
    <img class="home-logo" src="/assets/imgs/xcode-logo.png"/>
</div>