@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Entities
@using SWSA.MvcPortal.Models.Companies
@model CompanySimpleInfoVM?
@{
	var cpInfo = Model;
}
@if (cpInfo == null)
{
	return;
}
<div class="col-md-12">
	<form>
		<!-- jquery validation -->
		<div class="card card-primary">
			<div class="card-header">
				<a href="/companies/@cpInfo.CompanyId/overview">
					<h3 class="card-title">
						Company Info

					</h3>
				</a>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>

			<!-- /.card-header -->
			<!-- form start -->
			<div class="card-body row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="companyName">Company</label>
						<input readonly value="@($"{cpInfo.CompanyName} ({cpInfo.RegistrationNumber})")" class="form-control " placeholder="xxx sdn.bhd." />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="incorpDate">Incorporation Date</label>
						<div class="input-group">
							<input disabled type="text" value="@cpInfo.IncorporationDate?.ToFormattedString()" id="incorpDate" name="incorpDate" class="form-control" placeholder="Select date" />
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="fa fa-calendar"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="companyType">Company Type</label>
						<input readonly id="companyType" value="@cpInfo.CompanyType.GetDisplayName()" class="form-control " />
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label for="yearEndMonth">Year End Month</label>
						<div class="input-group">
							<input readonly type="text" id="yearEndMonth" value="@cpInfo.YearEndMonth?.GetDisplayNameAndNumber()" name="yearEndMonth" class="form-control" placeholder="Select month" />
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="fa fa-calendar"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</form>
	<!-- /.card -->
</div>