@{
    ViewData["Title"] = "StrikeOffSchedule";
}

<h1>Strike Off Schedule</h1>

<div class="row">
    <div class="col-md-12">
        <!-- Alert Container -->
        <div id="alertContainer"></div>

        <!-- /.card -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-tasks me-2"></i>Strike Off Schedule
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal" id="addNewBtn">
                        <i class="fas fa-plus me-2"></i>New Record
                    </button>
                    <button type="button" class="btn btn-info btn-sm ms-2" onclick="refreshData()">
                        <i class="fas fa-sync me-2"></i>Refresh
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body" style="overflow:auto">
                <table id="taskDatatable" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th rowspan="3">No</th>
                            <th rowspan="3">Ref</th>
                            <th rowspan="3">Company Name</th>
                            <th rowspan="3">Company No</th>
                            <th rowspan="3">Incorp Date</th>
                            <th rowspan="3">Year End</th>
                            <th colspan="13">Sec Dept</th>
                            <th colspan="2">Tax Dept</th>
                            <th rowspan="3">Job Completed/Backlog</th>
                            <th rowspan="3">Actions</th>
                        </tr>

                        <tr>
                            <th rowspan="2">Start Date</th>
                            <th rowspan="2">Completed Date</th>
                            <th colspan="2">Mgmt acc</th>
                            <th colspan="4">SSM Penalties</th>
                            <th rowspan="2">S/Off Doc send to client</th>
                            <th rowspan="2">SSM Submission Date</th>
                            <th rowspan="2">SSM Strike off date</th>
                            <th colspan="2">SSM Status</th>
                            <th rowspan="2">Date Pass to Tax Dept</th>
                            <th rowspan="2">Form C Submission date</th>
                        </tr>

                        <tr>
                            <th>Done by</th>
                            <th>Completed date</th>
                            <th>Penalties RM</th>
                            <th>Revised Penalties</th>
                            <th>Appeal date</th>
                            <th>Payment date</th>
                            <th>Remark</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data will be loaded dynamically -->
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<!-- 模态框部分 -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">
                    <i class="fas fa-edit me-2"></i>
                    <span id="modalTitle">Add New Strike Off Record</span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <input type="hidden" id="recordId" value="">

                    <!-- Basic Information -->
                    <div class="form-info-label col-12">
                        <label>Basic Information</label>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ref">Ref</label>
                                <input type="text" id="ref" name="ref" class="form-control" placeholder="Enter reference" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="companyName">Company Name *</label>
                                <input type="text" id="companyName" name="companyName" class="form-control" placeholder="Enter company name" required />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="companyNo">Company No</label>
                                <input type="text" id="companyNo" name="companyNo" class="form-control" placeholder="Enter company number" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="incorpDate">Incorp Date</label>
                                <input type="text" id="incorpDate" name="incorpDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yearEnd">Year End</label>
                                <input type="text" id="yearEnd" name="yearEnd" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <!-- Sec Dept -->
                    <div class="form-info-label col-12">
                        <label>Sec Dept</label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="startDate">Start Date</label>
                                <input type="text" id="startDate" name="startDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="completeDate">Completed Date</label>
                                <input type="text" id="completeDate" name="completeDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <!-- Mgmt acc -->
                    <div class="form-info-label col-12">
                        <label>Management Account</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="doneBy">Done by</label>
                                <input type="text" id="doneBy" name="doneBy" class="form-control" placeholder="Enter name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="completedDate">Completed date</label>
                                <input type="text" id="completedDate" name="completedDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <!-- SSM Penalties -->
                    <div class="form-info-label col-12">
                        <label>SSM Penalties</label>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="penaltiesRM">Penalties RM</label>
                                <input type="number" id="penaltiesRM" name="penaltiesRM" class="form-control" placeholder="Enter amount" step="0.01" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="revisedPenalties">Revised Penalties</label>
                                <input type="number" id="revisedPenalties" name="revisedPenalties" class="form-control" placeholder="Enter amount" step="0.01" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="appealDate">Appeal date</label>
                                <input type="text" id="appealDate" name="appealDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="paymentDate">Payment date</label>
                                <input type="text" id="paymentDate" name="paymentDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <!-- Additional Sec Dept Info -->
                    <div class="form-info-label col-12">
                        <label>Additional Sec Dept Information</label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="s_OffDocsendtoClient">S/Off Doc send to client</label>
                                <input type="text" id="s_OffDocsendtoClient" name="s_OffDocsendtoClient" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ssmSubmitDate">SSM Submission Date</label>
                                <input type="text" id="ssmSubmitDate" name="ssmSubmitDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ssmStrikeoffDate">SSM Strike off date</label>
                                <input type="text" id="ssmStrikeoffDate" name="ssmStrikeoffDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <!-- SSM Status -->
                    <div class="form-info-label col-12">
                        <label>SSM Status</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="remark">Remark</label>
                                <input type="text" id="remark" name="remark" class="form-control" placeholder="Enter remark" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="action">Action</label>
                                <input type="text" id="action" name="action" class="form-control" placeholder="Enter action" />
                            </div>
                        </div>
                    </div>

                    <!-- Tax Dept -->
                    <div class="form-info-label col-12">
                        <label>Tax Dept</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="datePassToTaxDept">Date Pass to Tax Dept</label>
                                <input type="text" id="datePassToTaxDept" name="datePassToTaxDept" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="formCSubmitDate">Form C Submission date</label>
                                <input type="text" id="formCSubmitDate" name="formCSubmitDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <!-- Completion Status -->
                    <div class="form-info-label col-12">
                        <label>Completion Status</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="jobCompleted">Job Completed/Backlog</label>
                                <select id="jobCompleted" name="jobCompleted" class="form-control">
                                    <option value="">Select Status</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Backlog">Backlog</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Pending">Pending</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Cancel
                </button>
                <button type="button" class="btn btn-primary" id="saveBtn">
                    <i class="fas fa-save me-2"></i>Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <!-- Include DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <!-- Include Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function() {
            let dataTable;
            let currentEditId = null;

            // 初始化 DataTable
            initializeDataTable();

            // 初始化日期选择器
            initializeDatePickers();

            // 保存按钮点击事件
            $('#saveBtn').click(function() {
                saveS16Record();
            });

            // 初始化 DataTable
            function initializeDataTable() {
                dataTable = $('#taskDatatable').DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                    "ajax": {
                        "url": "/secretary-dept/api/s16/get-all",
                        "type": "GET",
                        "dataSrc": function(response) {
                            if (response.success) {
                                return response.data;
                            } else {
                                console.error('Error loading data:', response.message);
                                showAlert('Error loading data: ' + response.message, 'danger');
                                return [];
                            }
                        }
                    },
                    "columns": [
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return meta.row + 1; // No
                            }
                        },
                        { "data": "ref" },
                        { "data": "companyName" },
                        { "data": "companyNo" },
                        { "data": "incorpDate" },
                        { "data": "yearEnd" },
                        { "data": "startDate" },
                        { "data": "completeDate" },
                        { "data": "doneBy" },
                        { "data": "completedDate" },
                        {
                            "data": "penaltiesRM",
                            "render": function (data) {
                                return data
                                    ? 'RM ' + parseFloat(data).toLocaleString('en-US', {
                                        minimumFractionDigits: 2,
                                        maximumFractionDigits: 2
                                    })
                                    : '-';
                            }
                        },
                        {
                            "data": "revisedPenalties",
                            "render": function (data) {
                                return data
                                    ? 'RM ' + parseFloat(data).toLocaleString('en-US', {
                                        minimumFractionDigits: 2,
                                        maximumFractionDigits: 2
                                    })
                                    : '-';
                            }
                        },
                        { "data": "appealDate" },
                        { "data": "paymentDate" },
                        { "data": "s_OffDocsendtoClient" },
                        { "data": "ssMsubmitDate" },
                        { "data": "ssMstrikeoffDate" },
                        { "data": "remark" },
                        { "data": "action" },
                        { "data": "datePassToTaxDept" },
                        { "data": "formCSubmitDate" },
                        {
                            "data": "jobCompleted",
                            "render": function (data) {
                                const statusClass =
                                    data === 'Completed' ? 'badge bg-success' :
                                        data === 'In Progress' ? 'badge bg-warning' :
                                            data === 'Backlog' ? 'badge bg-danger' :
                                                'badge bg-secondary';
                                return data
                                    ? `<span class="${statusClass}">${data}</span>`
                                    : '<span class="badge bg-secondary">Unknown</span>';
                            }
                        },
                        {
                            "data": "id",
                            "render": function (data, type, row) {
                                return `
                        <div class="btn-group">
                            <button class="btn btn-sm btn-warning edit-btn" data-id="${data}" title="Edit">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-sm btn-danger delete-btn" data-id="${data}" title="Delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>`;
                            },
                            "orderable": false
                        }
                    ]
                    ,
                    "language": {
                        "emptyTable": "No records available",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "Showing 0 to 0 of 0 entries",
                        "infoFiltered": "(filtered from _MAX_ total entries)",
                        "lengthMenu": "Show _MENU_ entries",
                        "loadingRecords": "Loading...",
                        "processing": "Processing...",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    }
                });
            }

            // 初始化日期选择器
            function initializeDatePickers() {
                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    todayHighlight: true
                });
            }

            // 保存 S16 记录
            function saveS16Record() {
                // 基本验证
                if (!$('#companyName').val()) {
                    showAlert('Please enter company name', 'warning');
                    return;
                }

                const formData = {
                    ref: $('#ref').val(),
                    companyName: $('#companyName').val(),
                    companyNo: $('#companyNo').val(),
                    incorpDate: $('#incorpDate').val(),
                    yearEnd: $('#yearEnd').val(),
                    startDate: $('#startDate').val(),
                    completeDate: $('#completeDate').val(),
                    doneBy: $('#doneBy').val(),
                    completedDate: $('#completedDate').val(),
                    penaltiesRM: $('#penaltiesRM').val(),
                    revisedPenalties: $('#revisedPenalties').val(),
                    appealDate: $('#appealDate').val(),
                    paymentDate: $('#paymentDate').val(),
                    s_OffDocsendtoClient: $('#s_OffDocsendtoClient').val(),
                    ssmSubmitDate: $('#ssmSubmitDate').val(),
                    ssmStrikeoffDate: $('#ssmStrikeoffDate').val(),
                    remark: $('#remark').val(),
                    action: $('#action').val(),
                    datePassToTaxDept: $('#datePassToTaxDept').val(),
                    formCSubmitDate: $('#formCSubmitDate').val(),
                    jobCompleted: $('#jobCompleted').val()
                };

                const url = currentEditId ? '/secretary-dept/api/s16/update' : '/secretary-dept/api/s16/create';
                const method = currentEditId ? 'PUT' : 'POST';

                if (currentEditId) {
                    formData.id = currentEditId;
                }

                // 显示加载状态
                $('#saveBtn').prop('disabled', true).html('<i class="fas fa-spinner fa-spin me-2"></i>Saving...');

                $.ajax({
                    url: url,
                    type: method,
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(response) {
                        if (response.success) {
                            $('#taskModal').modal('hide');
                            dataTable.ajax.reload();
                            resetForm();
                            showAlert('Record saved successfully!', 'success');
                        } else {
                            showAlert('Error saving record: ' + response.message, 'danger');
                        }
                    },
                    error: function(xhr, status, error) {
                        showAlert('Error saving record: ' + error, 'danger');
                    },
                    complete: function() {
                        $('#saveBtn').prop('disabled', false).html('<i class="fas fa-save me-2"></i>Save');
                    }
                });
            }

            // 编辑记录
            $(document).on('click', '.edit-btn', function() {
                const id = $(this).data('id');
                editRecord(id);
            });

            // 删除记录
            $(document).on('click', '.delete-btn', function() {
                const id = $(this).data('id');
                deleteRecord(id);
            });

            // 编辑记录
            function editRecord(id) {
                $.get(`/secretary-dept/api/s16/get/${id}`, function (response) {
                    if (response.success) {
                        const record = response.data;
                        currentEditId = record.id;

                        $('#ref').val(record.ref || '');
                        $('#companyName').val(record.companyName || '');
                        $('#companyNo').val(record.companyNo || '');
                        $('#incorpDate').val(record.incorpDate || '');
                        $('#yearEnd').val(record.yearEnd || '');
                        $('#startDate').val(record.startDate || '');
                        $('#completeDate').val(record.completeDate || '');
                        $('#doneBy').val(record.doneBy || '');
                        $('#completedDate').val(record.completedDate || '');
                        $('#penaltiesRM').val(record.penaltiesRM || '');
                        $('#revisedPenalties').val(record.revisedPenalties || '');
                        $('#appealDate').val(record.appealDate || '');
                        $('#paymentDate').val(record.paymentDate || '');
                        $('#s_OffDocsendtoClient').val(record.s_OffDocsendtoClient || '');
                        $('#ssmSubmitDate').val(record.ssMsubmitDate || '');
                        $('#ssmStrikeoffDate').val(record.ssMstrikeoffDate || '');
                        $('#remark').val(record.remark || '');
                        $('#action').val(record.action || '');
                        $('#datePassToTaxDept').val(record.datePassToTaxDept || '');
                        $('#formCSubmitDate').val(record.formCSubmitDate || '');
                        $('#jobCompleted').val(record.jobCompleted || '');

                        $('#modalTitle').text('Edit Strike Off Record');
                        $('#taskModal').modal('show');
                    } else {
                        showAlert('Error loading record: ' + response.message, 'danger');
                    }
                });
            }


            // 删除记录
            function deleteRecord(id) {
                if (confirm('Are you sure you want to delete this record? This action cannot be undone.')) {
                    $.ajax({
                        url: `/secretary-dept/api/s16/delete/${id}`,
                        type: 'DELETE',
                        success: function(response) {
                            if (response.success) {
                                dataTable.ajax.reload();
                                showAlert('Record deleted successfully!', 'success');
                            } else {
                                showAlert('Error deleting record: ' + response.message, 'danger');
                            }
                        },
                        error: function(xhr, status, error) {
                            showAlert('Error deleting record: ' + error, 'danger');
                        }
                    });
                }
            }

            // 重置表单
            function resetForm() {
                $('#taskForm')[0].reset();
                currentEditId = null;
                $('#modalTitle').text('Add New Strike Off Record');
                $('.datepicker').datepicker('update', '');
            }

            // 显示提示信息
            function showAlert(message, type) {
                const alertClass = `alert alert-${type} alert-dismissible fade show`;
                const alertHtml = `
                    <div class="${alertClass}" role="alert">
                        ${message}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                `;
                $('#alertContainer').html(alertHtml);

                setTimeout(() => {
                    $('.alert').alert('close');
                }, 5000);
            }

            // 模态框关闭时重置表单
            $('#taskModal').on('hidden.bs.modal', function() {
                resetForm();
            });
        });

        function refreshData() {
            $('#taskDatatable').DataTable().ajax.reload();
            showAlert('Data refreshed successfully!', 'info');
        }
    </script>
}