@{
    ViewData["Title"] = "BP34 - Form BE Work Progress Schedule";
}

<h1>BP34 Records (Form BE)</h1>

<div class="row">
    <div class="col-md-12">
        <div id="alertContainer"></div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-user-tie me-2"></i> BP34 Records
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal" id="addNewBtn">
                        <i class="fas fa-plus me-2"></i>New Record
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="taskDatatable" class="table table-bordered table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center">Basic Info</th>
                                <th colspan="5" class="text-center">Tax Process</th>
                                <th colspan="2" class="text-center">E-Filing</th>
                                <th colspan="4" class="text-center">Login & Reference</th>
                                <th colspan="3" class="text-center">Billing & Dispatch</th>
                                <th rowspan="2" style="vertical-align: middle;">Actions</th>
                            </tr>
                            <tr>
                                <th>Item</th>
                                <th>Grouping</th>
                                <th>Individual Name</th>

                                <th>Draft Tax Completed</th>
                                <th>Review Tax</th>
                                <th>Final Tax</th>
                                <th>Tax Com Final Sign by Client</th>
                                <th>Amount Tax Pay</th>

                                <th>E-File Draft</th>
                                <th>E-File Final</th>

                                <th>Tax Reference No</th>
                                <th>Login</th>
                                <th>Password</th>
                                <th>Type of Form</th>

                                <th>SPC</th>
                                <th>Invoice No</th>
                                <th>Doc Despatch Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">
                    <i class="fas fa-edit me-2"></i>
                    <span id="modalTitle">Add New BP34 Record</span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <input type="hidden" id="recordId" value="">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="item">Item</label>
                                <input type="text" id="item" name="item" class="form-control" placeholder="Enter item" />
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="individualSelect">Individual Name</label>
                                <select id="individualSelect" class="form-control">
                                    <option value="">-- Loading Individuals... --</option>
                                </select>
                                <small class="text-muted fst-italic">This list contains only Individual clients.</small>
                                <input type="hidden" id="companyName" name="companyName" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="grouping">Grouping</label>
                                <input type="text" id="grouping" name="grouping" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="draftTaxCompleted">Draft Tax Completed</label>
                                <input type="text" id="draftTaxCompleted" name="draftTaxCompleted" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="reviewTax">Review Tax</label>
                                <input type="text" id="reviewTax" name="reviewTax" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="finalTax">Final Tax</label>
                                <input type="text" id="finalTax" name="finalTax" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="taxComFinalSignbyClient">Tax Com Final Sign by Client</label>
                                <input type="text" id="taxComFinalSignbyClient" name="taxComFinalSignbyClient" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="amountTaxPay">Amount Tax Pay</label>
                                <input type="text" id="amountTaxPay" name="amountTaxPay" class="form-control" placeholder="Enter amount" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="eFileDraft">E-File Draft</label>
                                <input type="text" id="eFileDraft" name="eFileDraft" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="eFileFinal">E-File Final</label>
                                <input type="text" id="eFileFinal" name="eFileFinal" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="taxRefferanceNo">Tax Reference No</label>
                                <input type="text" id="taxRefferanceNo" name="taxRefferanceNo" class="form-control" placeholder="Enter reference number" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="typeofForm">Type of Form</label>
                                <input type="text" id="typeofForm" name="typeofForm" class="form-control" placeholder="Enter type of form" value="BE" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="login">Login</label>
                                <input type="text" id="login" name="login" class="form-control" placeholder="Enter login" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" id="password" name="password" class="form-control" placeholder="Enter password" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="spc">SPC</label>
                                <input type="text" id="spc" name="spc" class="form-control" placeholder="Enter SPC" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="invoiceNo">Invoice No</label>
                                <input type="text" id="invoiceNo" name="invoiceNo" class="form-control" placeholder="Enter invoice number" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="docDespatchDate">Doc Despatch Date</label>
                                <input type="text" id="docDespatchDate" name="docDespatchDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times me-2"></i>Cancel</button>
                <button type="button" class="btn btn-primary" id="saveBtn"><i class="fas fa-save me-2"></i>Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function() {
            let dataTable;
            let currentEditId = null;
            let individualOptionsMap = {}; // 存储 Individual 数据

            // 🟢 1. 加载 Individual Options
            function loadIndividualOptions() {
                $.ajax({
                    url: '/api/get/individual-company-options', // 🟢 使用你提供的新 API
                    type: 'GET',
                    success: function (res) {
                        if (res.success && res.data) {
                            individualOptionsMap = {};
                            const $sel = $('#individualSelect');
                            $sel.empty().append('<option value="">-- Select Individual --</option>');

                            res.data.forEach(client => {
                                // 缓存数据
                                individualOptionsMap[client.id] = client;
                                
                                // 显示 Individual Name
                                $sel.append(`<option value="${client.id}">${client.companyName}</option>`);
                            });
                        }
                    },
                    error: function(xhr) { 
                        console.error("Failed to load individuals", xhr); 
                    }
                });
            }

            // 🟢 2. Dropdown Change Event (Auto-fill Grouping)
            $('#individualSelect').change(function() {
                const selectedId = $(this).val();
                
                if (!selectedId || !individualOptionsMap[selectedId]) {
                    $('#companyName').val('');
                    $('#grouping').val('');
                    // 清空其他可能关联的字段
                    $('#taxRefferanceNo').val('');
                    return;
                }

                const c = individualOptionsMap[selectedId];

                // 填入 Hidden Input (后端需要 companyName 字段)
                $('#companyName').val(c.companyName || '');

                // 🟢 自动填入 Grouping
                $('#grouping').val(c.grouping || '');
                
                // 尝试自动填入 Tax Ref (TIN)
                $('#taxRefferanceNo').val(c.taxIdentificationNumber || c.tinNumber || '');
            });

            function initializeDatePickers() {
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    todayHighlight: true
                });
            }

            function formatDate(dateString) {
                if (!dateString) return '';
                try {
                    const date = new Date(dateString);
                    return date.toLocaleDateString('en-GB');
                } catch (e) { return dateString; }
            }

            function formatDateForInput(dateString) {
                if (!dateString) return '';
                try {
                    const date = new Date(dateString);
                    return date.toISOString().split('T')[0];
                } catch (e) { return dateString; }
            }

            function showAlert(msg, type) {
                const html = `<div class="alert alert-${type} alert-dismissible fade show">${msg}<button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>`;
                $('#alertContainer').html(html);
                setTimeout(() => $('.alert').alert('close'), 3000);
            }

            function resetForm() {
                $('#taskForm')[0].reset();
                currentEditId = null;
                $('#recordId').val('');
                $('#individualSelect').val('');
                $('#modalTitle').text('Add New BP34 Record');
                $('.datepicker').datepicker('update', '');
            }

            // 🟢 3. 初始化 DataTable (列数严格对应 18 列)
            function initializeDataTable() {
                if ($.fn.DataTable.isDataTable('#taskDatatable')) {
                    dataTable.destroy();
                }

                dataTable = $('#taskDatatable').DataTable({
                    "processing": true,
                    "serverSide": false,
                    "scrollX": true, // 启用横向滚动
                    "ajax": {
                        "url": "/api/bp34/get-all",
                        "type": "GET",
                        "dataSrc": function(response) {
                            return response.success ? response.data : [];
                        },
                        "error": function(xhr, error, thrown) {
                            console.error('DataTable Error:', error);
                        }
                    },
                    "columns": [
                        // 1-3
                        { "data": "item", "defaultContent": "" },
                        { "data": "grouping", "defaultContent": "" },
                        { "data": "companyName", "defaultContent": "" },
                        
                        // 4-8 (Tax Process)
                        { 
                            "data": "draftTaxCompleted", 
                            "render": function(data) { return data ? formatDate(data) : ''; },
                            "defaultContent": "" 
                        },
                        { 
                            "data": "reviewTax", 
                            "render": function(data) { return data ? formatDate(data) : ''; },
                            "defaultContent": "" 
                        },
                        { 
                            "data": "finalTax", 
                            "render": function(data) { return data ? formatDate(data) : ''; },
                            "defaultContent": "" 
                        },
                        { 
                            "data": "taxComFinalSignbyClient", 
                            "render": function(data) { return data ? formatDate(data) : ''; },
                            "defaultContent": "" 
                        },
                        { "data": "amountTaxPay", "defaultContent": "" },

                        // 9-10 (E-Filing)
                        { 
                            "data": "eFileDraft", 
                            "render": function(data) { return data ? formatDate(data) : ''; },
                            "defaultContent": "" 
                        },
                        { 
                            "data": "eFileFinal", 
                            "render": function(data) { return data ? formatDate(data) : ''; },
                            "defaultContent": "" 
                        },

                        // 11-14 (Login)
                        { "data": "taxRefferanceNo", "defaultContent": "" },
                        { "data": "login", "defaultContent": "" },
                        { "data": "password", "defaultContent": "" },
                        { "data": "typeofForm", "defaultContent": "" },

                        // 15-17 (Billing)
                        { "data": "spc", "defaultContent": "" },
                        { "data": "invoiceNo", "defaultContent": "" },
                        { 
                            "data": "docDespatchDate", 
                            "render": function(data) { return data ? formatDate(data) : ''; },
                            "defaultContent": "" 
                        },

                        // 18 (Actions)
                        {
                            "data": "id",
                            "render": function(data, type, row) {
                                return `
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-warning edit-btn" data-id="${data}" title="Edit"><i class="fas fa-edit"></i></button>
                                        <button class="btn btn-sm btn-danger delete-btn" data-id="${data}" title="Delete"><i class="fas fa-trash"></i></button>
                                    </div>
                                `;
                            },
                            "orderable": false
                        }
                    ],
                    "order": [[0, 'desc']]
                });
            }

            function saveBP34Record() {
                const formData = {
                    id: currentEditId || 0,
                    item: $('#item').val(),
                    grouping: $('#grouping').val(),
                    companyName: $('#companyName').val(),
                    draftTaxCompleted: $('#draftTaxCompleted').val(),
                    reviewTax: $('#reviewTax').val(),
                    finalTax: $('#finalTax').val(),
                    taxComFinalSignbyClient: $('#taxComFinalSignbyClient').val(),
                    amountTaxPay: $('#amountTaxPay').val(),
                    eFileDraft: $('#eFileDraft').val(),
                    eFileFinal: $('#eFileFinal').val(),
                    taxRefferanceNo: $('#taxRefferanceNo').val(),
                    login: $('#login').val(),
                    password: $('#password').val(),
                    typeofForm: $('#typeofForm').val(),
                    spc: $('#spc').val(),
                    invoiceNo: $('#invoiceNo').val(),
                    docDespatchDate: $('#docDespatchDate').val()
                };

                const url = currentEditId ? '/api/bp34/update' : '/api/bp34/create';
                const method = currentEditId ? 'PUT' : 'POST';

                $('#saveBtn').prop('disabled', true).html('Saving...');

                $.ajax({
                    url: url,
                    type: method,
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(response) {
                        $('#saveBtn').prop('disabled', false).html('Save');
                        if (response.success) {
                            $('#taskModal').modal('hide');
                            if(dataTable) dataTable.ajax.reload(null, false);
                            resetForm();
                            showAlert('Saved successfully!', 'success');
                        } else {
                            showAlert('Error: ' + response.message, 'danger');
                        }
                    },
                    error: function(xhr) {
                        $('#saveBtn').prop('disabled', false).html('Save');
                        showAlert('Error saving record', 'danger');
                    }
                });
            }

            function editRecord(id) {
                $.get(`/api/bp34/get/${id}`, function(res) {
                    if (res.success) {
                        const d = res.data;
                        currentEditId = d.id;
                        $('#recordId').val(d.id);

                        // 反选 Dropdown
                        let foundId = "";
                        for (const [key, val] of Object.entries(individualOptionsMap)) {
                            if (val.companyName === d.companyName) {
                                foundId = key;
                                break;
                            }
                        }
                        $('#individualSelect').val(foundId);

                        // 填充 Input
                        $('#item').val(d.item);
                        $('#grouping').val(d.grouping);
                        $('#companyName').val(d.companyName);
                        $('#draftTaxCompleted').val(formatDateForInput(d.draftTaxCompleted));
                        $('#reviewTax').val(formatDateForInput(d.reviewTax));
                        $('#finalTax').val(formatDateForInput(d.finalTax));
                        $('#taxComFinalSignbyClient').val(formatDateForInput(d.taxComFinalSignbyClient));
                        $('#amountTaxPay').val(d.amountTaxPay);
                        $('#eFileDraft').val(formatDateForInput(d.eFileDraft));
                        $('#eFileFinal').val(formatDateForInput(d.eFileFinal));
                        $('#taxRefferanceNo').val(d.taxRefferanceNo);
                        $('#login').val(d.login);
                        $('#password').val(d.password);
                        $('#typeofForm').val(d.typeofForm);
                        $('#spc').val(d.spc);
                        $('#invoiceNo').val(d.invoiceNo);
                        $('#docDespatchDate').val(formatDateForInput(d.docDespatchDate));

                        $('#modalTitle').text('Edit BP34 Record');
                        $('#taskModal').modal('show');
                    } else {
                        showAlert('Failed to load record', 'danger');
                    }
                });
            }

            function deleteRecord(id) {
                if (confirm('Are you sure?')) {
                    $.ajax({
                        url: `/api/bp34/delete/${id}`,
                        type: 'DELETE',
                        success: function(res) {
                            if (res.success) {
                                dataTable.ajax.reload(null, false);
                                showAlert('Deleted', 'success');
                            } else {
                                showAlert('Delete failed', 'danger');
                            }
                        }
                    });
                }
            }

            // Init
            initializeDatePickers();
            loadIndividualOptions(); // 🟢 启动加载 Individual List
            initializeDataTable();

            // Bindings
            $('#saveBtn').click(saveBP34Record);
            $('#addNewBtn').click(function() { resetForm(); });
            $(document).on('click', '.edit-btn', function() { editRecord($(this).data('id')); });
            $(document).on('click', '.delete-btn', function() { deleteRecord($(this).data('id')); });
            $('#taskModal').on('hidden.bs.modal', resetForm);
        });
    </script>
}