@{
    ViewData["Title"] = "FormEMasterSchedule";
}

<h1>Form E Master Schedule</h1>

<div class="row">
    <div class="col-md-12">
        <div id="alertContainer"></div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-tasks me-2"></i>Form E Master Schedule Records
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal" id="addNewBtn">
                        <i class="fas fa-plus me-2"></i>New Record
                    </button>
                </div>
            </div>
            <div class="card-body" style="overflow:auto">
                <table id="taskDatatable" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th colspan="3" class="text-center">Admin</th>
                            <th colspan="9" class="text-center">Co Information</th>
                            <th colspan="6" class="text-center">Scheduling</th>
                            <th rowspan="3" style="vertical-align: middle;">Actions</th>
                        </tr>
                        <tr>
                            <th rowspan="2" style="vertical-align: middle;">Grouping</th>
                            <th rowspan="2" style="vertical-align: middle;">Referral</th>
                            <th rowspan="2" style="vertical-align: middle;">File No</th>
                            <th rowspan="2" style="vertical-align: middle;">Co Name</th>
                            <th rowspan="2" style="vertical-align: middle;">Year End</th>
                            <th colspan="2" class="text-center">Tax Reference</th>
                            <th colspan="2" class="text-center">Login Info</th>
                            <th colspan="2" class="text-center">MISC Code</th>
                            <th rowspan="2" style="vertical-align: middle;">Job Services</th>
                            <th colspan="6" class="text-center">Acc Dept</th>
                        </tr>
                        <tr>
                            <th>E number</th>
                            <th>TIN number</th>
                            <th>Login</th>
                            <th>Password</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th>YE to do</th>
                            <th>Date Doc In</th>
                            <th>Month to do</th>
                            <th>Staff</th>
                            <th>Allocate to Wk Sch</th>
                            <th>Completed/Backlog</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">
                    <i class="fas fa-edit me-2"></i>
                    <span id="modalTitle">Add New Form E Record</span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <input type="hidden" id="recordId" value="">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="grouping">Grouping</label>
                                <input type="text" id="grouping" name="grouping" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="referral">Referral</label>
                                <input type="text" id="referral" name="referral" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fileNo">File No</label>
                                <input type="text" id="fileNo" name="fileNo" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="companyName">Co Name (Select Client)</label>
                                <select id="companySelect" class="form-control">
                                    <option value="">-- Loading... --</option>
                                </select>
                                <input type="hidden" id="companyName" name="companyName" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yearEnd">Year End</label>
                                <input type="text" id="yearEnd" name="yearEnd" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="enumber">E number</label>
                                <input type="text" id="enumber" name="enumber" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tinNumber">TIN number</label>
                                <input type="text" id="tinNumber" name="tinNumber" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="login">Login</label>
                                <input type="text" id="login" name="login" class="form-control" placeholder="Enter login" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" id="password" name="password" class="form-control" placeholder="Enter password" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="code">MISC Code</label>
                                <input type="text" id="code" name="code" class="form-control" placeholder="Enter MISC code" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">MISC Description</label>
                                <input type="text" id="description" name="description" class="form-control" placeholder="Enter description" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="jobServices">Job Services</label>
                                <input type="text" id="jobServices" name="jobServices" class="form-control" placeholder="Enter job services" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yEtodo">YE to do</label>
                                <input type="text" id="yEtodo" name="yEtodo" class="form-control" placeholder="Enter YE to do" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dateDocIn">Date Doc In</label>
                                <input type="text" id="dateDocIn" name="dateDocIn" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="mthTodo">Month to do</label>
                                <input type="text" id="mthTodo" name="mthTodo" class="form-control" placeholder="Enter month" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="staff">Staff</label>
                                <input type="text" id="staff" name="staff" class="form-control" placeholder="Enter staff name" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="allocateToWkSch">Allocate to Wk Sch</label>
                                <select id="allocateToWkSch" name="allocateToWkSch" class="form-control">
                                    <option value="">Select Option</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="completed">Completed/Backlog</label>
                                <select id="completed" name="completed" class="form-control">
                                    <option value="">Select Status</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Backlog">Backlog</option>
                                    <option value="In Progress">In Progress</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Cancel
                </button>
                <button type="button" class="btn btn-primary" id="saveBtn">
                    <i class="fas fa-save me-2"></i>Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function() {
            let dataTable;
            let currentEditId = null;
            // 🟢 全局变量存 Dropdown 数据
            let companyOptionsMap = {};

            // 🟢 Helper: 格式化日期 dd/mm/yyyy
            function formatDdMMyyyy(d) {
                const date = (d instanceof Date) ? d : new Date(d);
                if (isNaN(date)) return "";
                const dd = String(date.getDate()).padStart(2, '0');
                const mm = String(date.getMonth() + 1).padStart(2, '0');
                const yyyy = date.getFullYear();
                return `${dd}/${mm}/${yyyy}`;
            }

            // 🟢 Helper: 将 "December" 转为 "31/12/2025" (Sample 逻辑)
            function yearEndMonthToDateString(monthName) {
                if (!monthName) return '';
                // 尝试直接解析，如果已经是日期格式就不处理
                if (monthName.includes('/') || monthName.includes('-')) return monthName;

                const months = [
                    'January', 'February', 'March', 'April', 'May', 'June',
                    'July', 'August', 'September', 'October', 'November', 'December'
                ];

                // 处理可能的大小写
                const idx = months.findIndex(m => m.toLowerCase() === monthName.toLowerCase());

                if (idx === -1) return monthName; // 如果不是月份名，直接返回原值

                const today = new Date();
                let year = today.getFullYear();
                // 如果月份已经过了，算作明年 (参考 Sample 逻辑)
                if (idx < today.getMonth()) year += 1;

                // 获取该月最后一天 (idx + 1 是下个月，第 0 天即上个月最后一天)
                const dt = new Date(year, idx + 1, 0);
                return formatDdMMyyyy(dt);
            }

            // 🟢 1. 加载 Dropdown (使用你最开始提供的 API)
            function loadCompanyOptions() {
                 $.ajax({
                     url: '/api/auditdept/clients/get-list',
                     type: 'GET',
                     success: function (res) {
                         if (res.success && res.data) {
                             companyOptionsMap = {};
                             const $sel = $('#companySelect');
                             $sel.empty().append('<option value="">-- Select Company (No Individual) --</option>');

                             const filteredList = res.data.filter(c => c.clientType !== 'Individual');

                             filteredList.forEach(client => {
                                 // 缓存数据
                                 companyOptionsMap[client.id] = client;

                                 // Name (Type)
                                 let displayText = client.companyName;
                                 if (client.clientType) {
                                     displayText += ` (${client.clientType})`;
                                 }
                                 $sel.append(`<option value="${client.id}">${displayText}</option>`);
                             });
                         }
                     },
                     error: function(xhr) { console.error("Failed to load clients", xhr); }
                 });
            }

            // 🟢 2. Dropdown Change 事件 (参考 Sample 逻辑)
            $('#companySelect').change(function() {
                const selectedClientId = $(this).val();

                if (!selectedClientId || !companyOptionsMap[selectedClientId]) {
                    // 清空逻辑
                    $('#companyName').val('');
                    $('#grouping').val('');
                    $('#referral').val('');
                    $('#fileNo').val('');
                    $('#yearEnd').val('');
                    $('#enumber').val('');
                    $('#tinNumber').val('');
                    return;
                }

                const client = companyOptionsMap[selectedClientId];

                // 填入 Hidden Input (给后端保存用)
                $('#companyName').val(client.companyName || '');

                // 填入其他字段
                $('#grouping').val(client.grouping || '');
                $('#referral').val(client.referral || '');
                $('#fileNo').val(client.fileNo || '');

                // 处理 E Number 和 TIN Number (注意 API 返回的字段名，这里做兼容处理)
                $('#enumber').val(client.eNumber || client.enumber || '');
                $('#tinNumber').val(client.taxIdentificationNumber || client.taxRefNo || '');

                // 🟢 处理 Year End (转换 Month Name -> Date String)
                // 假设 API 返回的是 client.yearEnd 或 client.yearEndMonth
                const rawYearEnd = client.yearEnd || client.yearEndMonth || '';
                const formattedYearEnd = yearEndMonthToDateString(rawYearEnd);
                $('#yearEnd').val(formattedYearEnd);
            });

            // 初始化日期选择器
            function initializeDatePickers() {
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    todayHighlight: true
                });
            }

            function formatDate(dateString) {
                if (!dateString) return '';
                try {
                    const date = new Date(dateString);
                    return date.toLocaleDateString('en-GB');
                } catch (e) {
                    return dateString;
                }
            }

            function showAlert(message, type) {
                const alertClass = `alert alert-${type} alert-dismissible fade show`;
                const alertHtml = `
                    <div class="${alertClass}" role="alert">
                        <i class="fas ${type === 'success' ? 'fa-check-circle' : type === 'danger' ? 'fa-exclamation-circle' : 'fa-info-circle'} me-2"></i>
                        ${message}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                `;
                $('#alertContainer').html(alertHtml);

                setTimeout(() => {
                    $('.alert').alert('close');
                }, 5000);
            }

            function resetForm() {
                $('#taskForm')[0].reset();
                currentEditId = null;
                $('#modalTitle').text('Add New Form E Record');
                $('.datepicker').datepicker('update', '');
                $('#recordId').val('');
                $('#companySelect').val(''); // 重置 Dropdown
            }

            // 测试 API 连接 (你的原始逻辑)
            function testApiConnection() {
                console.log('Testing API connection to /api/bp26/get-all');

                $.ajax({
                    url: '/api/bp26/get-all',
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        if (response.success) {
                            initializeDataTable();
                        } else {
                            showAlert('API returned error: ' + response.message, 'danger');
                            initializeSimpleTable();
                        }
                    },
                    error: function(xhr, status, error) {
                        showAlert('Cannot connect to server. Please check your connection.', 'danger');
                        initializeSimpleTable();
                    }
                });
            }

            // 初始化 DataTable (保持你的原始逻辑)
            function initializeDataTable() {
                try {
                    if ($.fn.DataTable.isDataTable('#taskDatatable')) {
                        dataTable.destroy();
                        $('#taskDatatable').empty();
                    }

                    dataTable = $('#taskDatatable').DataTable({
                        "processing": true,
                        "serverSide": false,
                        "ajax": {
                            "url": "/api/bp26/get-all",
                            "type": "GET",
                            "dataSrc": function(response) {
                                return response.success ? response.data : [];
                            },
                            "error": function(xhr, error, thrown) {
                                showAlert('Failed to load data: ' + error, 'danger');
                            }
                        },
                        "columns": [
                            { "data": "grouping", "defaultContent": "" },
                            { "data": "refferal", "defaultContent": "" },
                            { "data": "fileNo", "defaultContent": "" },
                            { "data": "companyName", "defaultContent": "" },
                            { "data": "yearEnd", "defaultContent": "" },
                            { "data": "enumber", "defaultContent": "" },
                            { "data": "taxIdentificationNumber", "defaultContent": "" },
                            { "data": "login", "defaultContent": "" },
                            { "data": "password", "defaultContent": "" },
                            { "data": "code", "defaultContent": "" },
                            { "data": "description", "defaultContent": "" },
                            { "data": "jobServices", "defaultContent": "" },
                            { "data": "yEtodo", "defaultContent": "" },
                            {
                                "data": "dateDocIn",
                                "render": function(data) { return data ? formatDate(data) : ''; },
                                "defaultContent": ""
                            },
                            { "data": "mthTodo", "defaultContent": "" },
                            { "data": "staff", "defaultContent": "" },
                            { "data": "allocateToWkSch", "defaultContent": "" },
                            { "data": "completed", "defaultContent": "" },
                            {
                                "data": "id",
                                "render": function(data, type, row) {
                                    return `
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-warning edit-btn" data-id="${data}" title="Edit"><i class="fas fa-edit"></i></button>
                                            <button class="btn btn-sm btn-danger delete-btn" data-id="${data}" title="Delete"><i class="fas fa-trash"></i></button>
                                        </div>
                                    `;
                                },
                                "orderable": false
                            }
                        ],
                        "order": [[0, 'desc']],
                        "responsive": true,
                        "searching": true,
                        "paging": true,
                        "pageLength": 10
                    });
                } catch (error) {
                    console.error('DataTable initialization failed:', error);
                    initializeSimpleTable();
                }
            }

            function initializeSimpleTable() {
                // ... (略，保持你的原始逻辑) ...
                 $.ajax({
                    url: '/api/bp26/get-all',
                    type: 'GET',
                    success: function(response) {
                        if (response.success) {
                            var tbody = $('#taskDatatable tbody');
                            tbody.empty();
                            if (response.data && response.data.length > 0) {
                                response.data.forEach(function(item) {
                                    // 简单的 HTML 拼接，保持不变
                                    var row = `<tr>
                                        <td>${item.grouping || ''}</td>
                                        <td>${item.refferal || ''}</td>
                                        <td>${item.fileNo || ''}</td>
                                        <td>${item.companyName || ''}</td>
                                        <td>${item.yearEnd || ''}</td>
                                        <td>${item.enumber || ''}</td>
                                        <td>${item.taxIdentificationNumber || ''}</td>
                                        <td>${item.login || ''}</td>
                                        <td>${item.password || ''}</td>
                                        <td>${item.code || ''}</td>
                                        <td>${item.description || ''}</td>
                                        <td>${item.jobServices || ''}</td>
                                        <td>${item.yEtodo || ''}</td>
                                        <td>${item.dateDocIn ? formatDate(item.dateDocIn) : ''}</td>
                                        <td>${item.mthTodo || ''}</td>
                                        <td>${item.staff || ''}</td>
                                        <td>${item.allocateToWkSch || ''}</td>
                                        <td>${item.completed || ''}</td>
                                        <td>
                                            <button class="btn btn-sm btn-warning edit-btn" data-id="${item.id}"><i class="fas fa-edit"></i></button>
                                            <button class="btn btn-sm btn-danger delete-btn" data-id="${item.id}"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>`;
                                    tbody.append(row);
                                });
                            }
                        }
                    }
                });
            }

            // 保存 BP26 记录 (保持你的原始逻辑)
            function saveBP26Record() {
                const formData = {
                    grouping: $('#grouping').val(),
                    refferal: $('#referral').val(),
                    fileNo: $('#fileNo').val(),
                    companyName: $('#companyName').val(), // 🟢 注意：这里会取到 Hidden Input 的值
                    yearEnd: $('#yearEnd').val(),
                    enumber: $('#enumber').val(),
                    taxIdentificationNumber: $('#tinNumber').val(),
                    login: $('#login').val(),
                    password: $('#password').val(),
                    code: $('#code').val(),
                    description: $('#description').val(),
                    jobServices: $('#jobServices').val(),
                    yEtodo: $('#yEtodo').val(),
                    dateDocIn: $('#dateDocIn').val(),
                    mthTodo: $('#mthTodo').val(),
                    staff: $('#staff').val(),
                    allocateToWkSch: $('#allocateToWkSch').val(),
                    completed: $('#completed').val()
                };

                const url = currentEditId ? '/api/bp26/update' : '/api/bp26/create';
                const method = currentEditId ? 'PUT' : 'POST';

                if (currentEditId) formData.id = currentEditId;

                $('#saveBtn').prop('disabled', true).html('<i class="fas fa-spinner fa-spin me-2"></i>Saving...');

                $.ajax({
                    url: url,
                    type: method,
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(response) {
                        $('#saveBtn').prop('disabled', false).html('<i class="fas fa-save me-2"></i>Save');
                        if (response.success) {
                            $('#taskModal').modal('hide');
                            refreshTable();
                            resetForm();
                            showAlert('Record saved successfully!', 'success');
                        } else {
                            showAlert('Error saving record: ' + response.message, 'danger');
                        }
                    },
                    error: function(xhr, status, error) {
                        $('#saveBtn').prop('disabled', false).html('<i class="fas fa-save me-2"></i>Save');
                        showAlert('Error saving record: ' + error, 'danger');
                    }
                });
            }

            // 编辑记录
            function editRecord(id) {
                $.get(`/api/bp26/get/${id}`, function(response) {
                    if (response.success) {
                        const record = response.data;
                        currentEditId = record.id;

                        // 🟢 反向匹配 Dropdown
                        let foundId = "";
                        for (const [key, val] of Object.entries(companyOptionsMap)) {
                            // 比较名字是否一致
                            if (val.companyName === record.companyName) {
                                foundId = key;
                                break;
                            }
                        }
                        $('#companySelect').val(foundId);

                        // 填充表单
                        $('#grouping').val(record.grouping || '');
                        $('#referral').val(record.refferal || '');
                        $('#fileNo').val(record.fileNo || '');
                        $('#companyName').val(record.companyName || '');
                        $('#yearEnd').val(record.yearEnd || '');
                        $('#enumber').val(record.enumber || '');
                        $('#tinNumber').val(record.taxIdentificationNumber || '');
                        $('#login').val(record.login || '');
                        $('#password').val(record.password || '');
                        $('#code').val(record.code || '');
                        $('#description').val(record.description || '');
                        $('#jobServices').val(record.jobServices || '');
                        $('#yEtodo').val(record.yEtodo || '');
                        $('#dateDocIn').val(record.dateDocIn ? record.dateDocIn.split('T')[0] : '');
                        $('#mthTodo').val(record.mthTodo || '');
                        $('#staff').val(record.staff || '');
                        $('#allocateToWkSch').val(record.allocateToWkSch || '');
                        $('#completed').val(record.completed || '');

                        $('#modalTitle').text('Edit Form E Record');
                        $('#taskModal').modal('show');
                    } else {
                        showAlert('Error loading record: ' + response.message, 'danger');
                    }
                }).fail(function(xhr, status, error) {
                    showAlert('Error loading record: ' + error, 'danger');
                });
            }

            // 删除记录
            function deleteRecord(id) {
                if (confirm('Are you sure you want to delete this record?')) {
                    $.ajax({
                        url: `/api/bp26/delete/${id}`,
                        type: 'DELETE',
                        success: function(response) {
                            if (response.success) {
                                refreshTable();
                                showAlert('Record deleted successfully!', 'success');
                            } else {
                                showAlert('Error deleting record: ' + response.message, 'danger');
                            }
                        },
                        error: function(xhr, status, error) {
                            showAlert('Error deleting record: ' + error, 'danger');
                        }
                    });
                }
            }

            function refreshTable() {
                if (dataTable && typeof dataTable.ajax.reload === 'function') {
                    dataTable.ajax.reload(null, false);
                } else {
                    initializeSimpleTable();
                }
            }

            // 事件监听
            $('#saveBtn').click(saveBP26Record);
            $(document).on('click', '.edit-btn', function() { editRecord($(this).data('id')); });
            $(document).on('click', '.delete-btn', function() { deleteRecord($(this).data('id')); });
            $('#taskModal').on('hidden.bs.modal', resetForm);
            $('#addNewBtn').click(function() {
                resetForm();
                $('#modalTitle').text('Add New Form E Record');
            });
            $('#taskForm').on('submit', function(e) {
                e.preventDefault();
                saveBP26Record();
            });

            // 初始化
            console.log('Initializing Form E application...');
            initializeDatePickers();
            loadCompanyOptions(); // 🟢 启动时加载 Dropdown
            testApiConnection();
        });
    </script>
}