@{
    ViewData["Title"] = "IndividuaFormBEMasterSchedulingList";
}

<h1>Individual Form BE Master Scheduling List</h1>

<div class="row">
    <div class="col-md-12">
        <!-- Alert Container -->
        <div id="alertContainer"></div>

        <!-- /.card -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-tasks me-2"></i>Individual Form BE Master Schedule Records
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal" id="addNewBtn">
                        <i class="fas fa-plus me-2"></i>New Record
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body" style="overflow:auto">
                <table id="taskDatatable" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <!-- 第一行：主标题 -->
                        <tr>
                            <th colspan="3">Admin</th>
                            <th colspan="9">Co Information</th>
                            <th colspan="7">Scheduling</th>
                            <th rowspan="3">Actions</th>
                        </tr>

                        <!-- 第二行：细分标题 -->
                        <tr>
                            <th rowspan="2">Grouping</th>
                            <th rowspan="2">Referral</th>
                            <th rowspan="2">File No</th>

                            <th rowspan="2">Co Name</th>
                            <th rowspan="2">Year End</th>
                            <th colspan="2">Tax Reference</th>
                            <th colspan="2">Login Info</th>
                            <th colspan="2">MISC Code</th>
                            <th rowspan="2">Job Services</th>

                            <th colspan="6">Acc Dept</th>
                        </tr>

                        <!-- 第三行：每个字段的详细标题 -->
                        <tr>
                            <th>E number</th>
                            <th>TIN number</th>

                            <th>Login</th>
                            <th>Password</th>

                            <th>Code</th>
                            <th>Description</th>

                            <th>YE to do</th>
                            <th>Date Doc In</th>
                            <th>Month to do</th>
                            <th>Staff</th>
                            <th>Allocate to Wk Sch</th>
                            <th>Completed/Backlog</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data will be loaded dynamically -->
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<!-- 模态框部分 -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">
                    <i class="fas fa-edit me-2"></i>
                    <span id="modalTitle">Add New Individual Form BE Record</span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <input type="hidden" id="recordId" value="">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="grouping">Grouping</label>
                                <input type="text" id="grouping" name="grouping" class="form-control" placeholder="Enter grouping" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="referral">Referral</label>
                                <input type="text" id="referral" name="referral" class="form-control" placeholder="Enter referral" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fileNo">File No</label>
                                <input type="text" id="fileNo" name="fileNo" class="form-control" placeholder="Enter file number" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="companyName">Co Name</label>
                                <input type="text" id="companyName" name="companyName" class="form-control" placeholder="Enter company name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yearEnd">Year End</label>
                                <input type="text" id="yearEnd" name="yearEnd" class="form-control" placeholder="Enter year end" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="enumber">E number</label>
                                <input type="text" id="enumber" name="enumber" class="form-control" placeholder="Enter E number" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tinNumber">TIN number</label>
                                <input type="text" id="tinNumber" name="tinNumber" class="form-control" placeholder="Enter TIN number" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="login">Login</label>
                                <input type="text" id="login" name="login" class="form-control" placeholder="Enter login" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" id="password" name="password" class="form-control" placeholder="Enter password" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="code">MISC Code</label>
                                <input type="text" id="code" name="code" class="form-control" placeholder="Enter MISC code" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">MISC Description</label>
                                <input type="text" id="description" name="description" class="form-control" placeholder="Enter description" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="jobServices">Job Services</label>
                                <input type="text" id="jobServices" name="jobServices" class="form-control" placeholder="Enter job services" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yEtodo">YE to do</label>
                                <input type="text" id="yEtodo" name="yEtodo" class="form-control" placeholder="Enter YE to do" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dateDocIn">Date Doc In</label>
                                <input type="text" id="dateDocIn" name="dateDocIn" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="mthTodo">Month to do</label>
                                <input type="text" id="mthTodo" name="mthTodo" class="form-control" placeholder="Enter month" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="staff">Staff</label>
                                <input type="text" id="staff" name="staff" class="form-control" placeholder="Enter staff name" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="allocateToWkSch">Allocate to Wk Sch</label>
                                <select id="allocateToWkSch" name="allocateToWkSch" class="form-control">
                                    <option value="">Select Option</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="completed">Completed/Backlog</label>
                                <select id="completed" name="completed" class="form-control">
                                    <option value="">Select Status</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Backlog">Backlog</option>
                                    <option value="In Progress">In Progress</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Cancel
                </button>
                <button type="button" class="btn btn-primary" id="saveBtn">
                    <i class="fas fa-save me-2"></i>Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <!-- Include DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <!-- Include Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function() {
            let dataTable;
            let currentEditId = null;

            // 初始化日期选择器
            function initializeDatePickers() {
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    todayHighlight: true
                });
            }

            // 格式化日期
            function formatDate(dateString) {
                if (!dateString) return '';
                try {
                    const date = new Date(dateString);
                    return date.toLocaleDateString('en-GB');
                } catch (e) {
                    return dateString;
                }
            }

            // 显示提示信息
            function showAlert(message, type) {
                const alertClass = `alert alert-${type} alert-dismissible fade show`;
                const alertHtml = `
                    <div class="${alertClass}" role="alert">
                        <i class="fas ${type === 'success' ? 'fa-check-circle' : type === 'danger' ? 'fa-exclamation-circle' : 'fa-info-circle'} me-2"></i>
                        ${message}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                `;
                $('#alertContainer').html(alertHtml);

                setTimeout(() => {
                    $('.alert').alert('close');
                }, 5000);
            }

            // 重置表单
            function resetForm() {
                $('#taskForm')[0].reset();
                currentEditId = null;
                $('#modalTitle').text('Add New Individual Form BE Record');
                $('.datepicker').datepicker('update', '');
                $('#recordId').val('');
            }

            // 测试 API 连接
            function testApiConnection() {
                console.log('Testing API connection to /api/bp25/get-all');

                $.ajax({
                    url: '/api/bp25/get-all',
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        console.log('API test successful:', response);
                        if (response.success) {
                            console.log('Found', response.data.length, 'records');
                            initializeDataTable();
                        } else {
                            showAlert('API returned error: ' + response.message, 'danger');
                            initializeSimpleTable();
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('API test failed:', error);
                        showAlert('Cannot connect to server. Please check your connection.', 'danger');
                        initializeSimpleTable();
                    }
                });
            }

            // 初始化 DataTable
            function initializeDataTable() {
                try {
                    // 先检查 DataTable 是否已经存在，如果存在则销毁
                    if ($.fn.DataTable.isDataTable('#taskDatatable')) {
                        dataTable.destroy();
                        $('#taskDatatable').empty();
                    }

                    dataTable = $('#taskDatatable').DataTable({
                        "processing": true,
                        "serverSide": false,
                        "ajax": {
                            "url": "/api/bp25/get-all",
                            "type": "GET",
                            "dataSrc": function(response) {
                                if (response.success) {
                                    return response.data;
                                } else {
                                    console.error('Error loading data:', response.message);
                                    showAlert('Error loading data: ' + response.message, 'danger');
                                    return [];
                                }
                            },
                            "error": function(xhr, error, thrown) {
                                console.error('DataTable AJAX error:', error);
                                showAlert('Failed to load data: ' + error, 'danger');
                            }
                        },
                        "columns": [
                            {
                                "data": "grouping",
                                "defaultContent": ""
                            },
                            {
                                "data": "refferal",
                                "defaultContent": ""
                            },
                            {
                                "data": "fileNo",
                                "defaultContent": ""
                            },
                            {
                                "data": "companyName",
                                "defaultContent": ""
                            },
                            {
                                "data": "yearEnd",
                                "defaultContent": ""
                            },
                            {
                                "data": "enumber",
                                "defaultContent": ""
                            },
                            {
                                "data": "tinNumber",
                                "defaultContent": ""
                            },
                            {
                                "data": "login",
                                "defaultContent": ""
                            },
                            {
                                "data": "password",
                                "defaultContent": ""
                            },
                            {
                                "data": "code",
                                "defaultContent": ""
                            },
                            {
                                "data": "description",
                                "defaultContent": ""
                            },
                            {
                                "data": "jobServices",
                                "defaultContent": ""
                            },
                            {
                                "data": "yEtodo",
                                "defaultContent": ""
                            },
                            {
                                "data": "dateDocIn",
                                "render": function(data) {
                                    return data ? formatDate(data) : '';
                                },
                                "defaultContent": ""
                            },
                            {
                                "data": "mthTodo",
                                "defaultContent": ""
                            },
                            {
                                "data": "staff",
                                "defaultContent": ""
                            },
                            {
                                "data": "allocateToWkSch",
                                "defaultContent": ""
                            },
                            {
                                "data": "completed",
                                "defaultContent": ""
                            },
                            {
                                "data": "id",
                                "render": function(data, type, row) {
                                    return `
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-warning edit-btn" data-id="${data}" title="Edit">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-sm btn-danger delete-btn" data-id="${data}" title="Delete">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    `;
                                },
                                "orderable": false
                            }
                        ],
                        "order": [[0, 'desc']],
                        "responsive": true,
                        "searching": true,
                        "paging": true,
                        "pageLength": 10,
                        "language": {
                            "emptyTable": "No records found",
                            "zeroRecords": "No matching records found",
                            "loadingRecords": "Loading...",
                            "processing": "Processing..."
                        }
                    });

                    console.log('DataTable initialized successfully');

                } catch (error) {
                    console.error('DataTable initialization failed:', error);
                    showAlert('DataTable initialization failed. Using simple table.', 'warning');
                    initializeSimpleTable();
                }
            }

            // 初始化简单表格（备用）
            function initializeSimpleTable() {
                console.log('Initializing simple table without DataTable');

                $.ajax({
                    url: '/api/bp25/get-all',
                    type: 'GET',
                    success: function(response) {
                        if (response.success) {
                            var tbody = $('#taskDatatable tbody');
                            tbody.empty();

                            if (response.data && response.data.length > 0) {
                                response.data.forEach(function(item) {
                                    var row = `<tr>
                                        <td>${item.grouping || ''}</td>
                                        <td>${item.refferal || ''}</td>
                                        <td>${item.fileNo || ''}</td>
                                        <td>${item.companyName || ''}</td>
                                        <td>${item.yearEnd || ''}</td>
                                        <td>${item.enumber || ''}</td>
                                        <td>${item.tinNumber || ''}</td>
                                        <td>${item.login || ''}</td>
                                        <td>${item.password || ''}</td>
                                        <td>${item.code || ''}</td>
                                        <td>${item.description || ''}</td>
                                        <td>${item.jobServices || ''}</td>
                                        <td>${item.yEtodo || ''}</td>
                                        <td>${item.dateDocIn ? formatDate(item.dateDocIn) : ''}</td>
                                        <td>${item.mthTodo || ''}</td>
                                        <td>${item.staff || ''}</td>
                                        <td>${item.allocateToWkSch || ''}</td>
                                        <td>${item.completed || ''}</td>
                                        <td>
                                            <button class="btn btn-sm btn-warning edit-btn" data-id="${item.id}">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-sm btn-danger delete-btn" data-id="${item.id}">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>`;
                                    tbody.append(row);
                                });
                            } else {
                                tbody.append('<tr><td colspan="19" class="text-center">No records found</td></tr>');
                            }
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Failed to load data for simple table:', error);
                        $('#taskDatatable tbody').html('<tr><td colspan="19" class="text-center">Error loading data</td></tr>');
                    }
                });
            }

            // 保存 BP25 记录
            function saveBP25Record() {
                const formData = {
                    grouping: $('#grouping').val(),
                    refferal: $('#referral').val(),
                    fileNo: $('#fileNo').val(),
                    companyName: $('#companyName').val(),
                    yearEnd: $('#yearEnd').val(),
                    enumber: $('#enumber').val(),
                    tinNumber: $('#tinNumber').val(),
                    login: $('#login').val(),
                    password: $('#password').val(),
                    code: $('#code').val(),
                    description: $('#description').val(),
                    jobServices: $('#jobServices').val(),
                    yEtodo: $('#yEtodo').val(),
                    dateDocIn: $('#dateDocIn').val(),
                    mthTodo: $('#mthTodo').val(),
                    staff: $('#staff').val(),
                    allocateToWkSch: $('#allocateToWkSch').val(),
                    completed: $('#completed').val()
                };

                const url = currentEditId ? '/api/bp25/update' : '/api/bp25/create';
                const method = currentEditId ? 'PUT' : 'POST';

                if (currentEditId) {
                    formData.id = currentEditId;
                }

                $('#saveBtn').prop('disabled', true).html('<i class="fas fa-spinner fa-spin me-2"></i>Saving...');

                $.ajax({
                    url: url,
                    type: method,
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(response) {
                        $('#saveBtn').prop('disabled', false).html('<i class="fas fa-save me-2"></i>Save');

                        if (response.success) {
                            $('#taskModal').modal('hide');
                            refreshTable();
                            resetForm();
                            showAlert('Record saved successfully!', 'success');
                        } else {
                            showAlert('Error saving record: ' + response.message, 'danger');
                        }
                    },
                    error: function(xhr, status, error) {
                        $('#saveBtn').prop('disabled', false).html('<i class="fas fa-save me-2"></i>Save');
                        showAlert('Error saving record: ' + error, 'danger');
                    }
                });
            }

            // 编辑记录
            function editRecord(id) {
                $.get(`/api/bp25/get/${id}`, function(response) {
                    if (response.success) {
                        const record = response.data;
                        currentEditId = record.id;

                        // 填充表单
                        $('#grouping').val(record.grouping || '');
                        $('#referral').val(record.refferal || '');
                        $('#fileNo').val(record.fileNo || '');
                        $('#companyName').val(record.companyName || '');
                        $('#yearEnd').val(record.yearEnd || '');
                        $('#enumber').val(record.enumber || '');
                        $('#tinNumber').val(record.tinNumber || '');
                        $('#login').val(record.login || '');
                        $('#password').val(record.password || '');
                        $('#code').val(record.code || '');
                        $('#description').val(record.description || '');
                        $('#jobServices').val(record.jobServices || '');
                        $('#yEtodo').val(record.yEtodo || '');
                        $('#dateDocIn').val(record.dateDocIn ? record.dateDocIn.split('T')[0] : '');
                        $('#mthTodo').val(record.mthTodo || '');
                        $('#staff').val(record.staff || '');
                        $('#allocateToWkSch').val(record.allocateToWkSch || '');
                        $('#completed').val(record.completed || '');

                        $('#modalTitle').text('Edit Individual Form BE Record');
                        $('#taskModal').modal('show');
                    } else {
                        showAlert('Error loading record: ' + response.message, 'danger');
                    }
                }).fail(function(xhr, status, error) {
                    showAlert('Error loading record: ' + error, 'danger');
                });
            }

            // 删除记录
            function deleteRecord(id) {
                if (confirm('Are you sure you want to delete this record? This action cannot be undone.')) {
                    $.ajax({
                        url: `/api/bp25/delete/${id}`,
                        type: 'DELETE',
                        success: function(response) {
                            if (response.success) {
                                refreshTable();
                                showAlert('Record deleted successfully!', 'success');
                            } else {
                                showAlert('Error deleting record: ' + response.message, 'danger');
                            }
                        },
                        error: function(xhr, status, error) {
                            showAlert('Error deleting record: ' + error, 'danger');
                        }
                    });
                }
            }

            // 刷新表格
            function refreshTable() {
                if (dataTable && typeof dataTable.ajax.reload === 'function') {
                    dataTable.ajax.reload(null, false);
                } else {
                    initializeSimpleTable();
                }
            }

            // === 事件监听器 ===
            $('#saveBtn').click(saveBP25Record);

            $(document).on('click', '.edit-btn', function() {
                const id = $(this).data('id');
                editRecord(id);
            });

            $(document).on('click', '.delete-btn', function() {
                const id = $(this).data('id');
                deleteRecord(id);
            });

            $('#taskModal').on('hidden.bs.modal', resetForm);

            $('#addNewBtn').click(function() {
                resetForm();
                $('#modalTitle').text('Add New Individual Form BE Record');
            });

            $('#taskForm').on('submit', function(e) {
                e.preventDefault();
                saveBP25Record();
            });

            // === 初始化应用 ===
            console.log('Initializing Individual Form BE application...');
            initializeDatePickers();
            testApiConnection();
        });
    </script>
}