@{
    ViewData["Title"] = "IndividuaFormBEMasterSchedulingList";
}

<h1>Individual Form BE Master Scheduling List</h1>

<div class="row">
    <div class="col-md-12">
        <!-- Alert Container -->
        <div id="alertContainer"></div>

        <!-- /.card -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-tasks me-2"></i>Individual Form BE Master Schedule Records
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal" id="addNewBtn">
                        <i class="fas fa-plus me-2"></i>New Record
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body" style="overflow:auto">
                <table id="taskDatatable" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th colspan="3" class="text-center">Admin</th>
                            <th colspan="9" class="text-center">Co Information</th>
                            <th colspan="6" class="text-center">Scheduling</th>
                            <th rowspan="3" style="vertical-align: middle;">Actions</th>
                        </tr>

                        <tr>
                            <th rowspan="2" style="vertical-align: middle;">Grouping</th>
                            <th rowspan="2" style="vertical-align: middle;">Referral</th>
                            <th rowspan="2" style="vertical-align: middle;">File No</th>

                            <th rowspan="2" style="vertical-align: middle;">Co Name</th>
                            <th rowspan="2" style="vertical-align: middle;">Year End</th>
                            <th colspan="2" class="text-center">Tax Reference</th>
                            <th colspan="2" class="text-center">Login Info</th>
                            <th colspan="2" class="text-center">MISC Code</th>
                            <th rowspan="2" style="vertical-align: middle;">Job Services</th>

                            <th colspan="6" class="text-center">Acc Dept</th>
                        </tr>

                        <tr>
                            <th>E number</th>
                            <th>TIN number</th>

                            <th>Login</th>
                            <th>Password</th>

                            <th>Code</th>
                            <th>Description</th>

                            <th>YE to do</th>
                            <th>Date Doc In</th>
                            <th>Month to do</th>
                            <th>Staff</th>
                            <th>Allocate to Wk Sch</th>
                            <th>Completed/Backlog</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data will be loaded dynamically -->
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<!-- 模态框部分 -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">
                    <i class="fas fa-edit me-2"></i>
                    <span id="modalTitle">Add New Individual Form BE Record</span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <input type="hidden" id="recordId" value="">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="grouping">Grouping</label>
                                <input type="text" id="grouping" name="grouping" class="form-control" placeholder="Auto fill from Individual" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="referral">Referral</label>
                                <input type="text" id="referral" name="referral" class="form-control" placeholder="Auto fill from Individual" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fileNo">File No</label>
                                <input type="text" id="fileNo" name="fileNo" class="form-control" placeholder="Enter file number" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="companyName">Individual Name (Select from Individual Client List)</label>
                                <select id="companySelect" class="form-control">
                                    <option value="">-- Loading... --</option>
                                </select>
                                <input type="hidden" id="companyName" name="companyName" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yearEnd">Year End</label>
                                <input type="text" id="yearEnd" name="yearEnd" class="form-control" placeholder="Auto fill from Individual" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="enumber">E number</label>
                                <input type="text" id="enumber" name="enumber" class="form-control" placeholder="Enter E number" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tinNumber">TIN number</label>
                                <input type="text" id="tinNumber" name="tinNumber" class="form-control" placeholder="Auto fill from Individual" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="login">Login</label>
                                <input type="text" id="login" name="login" class="form-control" placeholder="Enter login" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" id="password" name="password" class="form-control" placeholder="Enter password" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="code">MISC Code</label>
                                <input type="text" id="code" name="code" class="form-control" placeholder="Enter MISC code" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">MISC Description</label>
                                <input type="text" id="description" name="description" class="form-control" placeholder="Enter description" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="jobServices">Job Services</label>
                                <input type="text" id="jobServices" name="jobServices" class="form-control" placeholder="Enter job services" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yEtodo">YE to do</label>
                                <input type="text" id="yEtodo" name="yEtodo" class="form-control" placeholder="Enter YE to do" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dateDocIn">Date Doc In</label>
                                <input type="text" id="dateDocIn" name="dateDocIn" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="mthTodo">Month to do</label>
                                <input type="text" id="mthTodo" name="mthTodo" class="form-control" placeholder="Enter month" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="staff">Staff</label>
                                <input type="text" id="staff" name="staff" class="form-control" placeholder="Enter staff name" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="allocateToWkSch">Allocate to Wk Sch</label>
                                <select id="allocateToWkSch" name="allocateToWkSch" class="form-control">
                                    <option value="">Select Option</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="completed">Completed/Backlog</label>
                                <select id="completed" name="completed" class="form-control">
                                    <option value="">Select Status</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Backlog">Backlog</option>
                                    <option value="In Progress">In Progress</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Cancel
                </button>
                <button type="button" class="btn btn-primary" id="saveBtn">
                    <i class="fas fa-save me-2"></i>Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function() {
            let dataTable;
            let currentEditId = null;
            let companyOptionsMap = {}; // 缓存 Individual Client 数据

            // === 1. 日期工具函数 ===
            function formatDdMMyyyy(d) {
                const date = (d instanceof Date) ? d : new Date(d);
                if (isNaN(date)) return "";
                const dd = String(date.getDate()).padStart(2, '0');
                const mm = String(date.getMonth() + 1).padStart(2, '0');
                const yyyy = date.getFullYear();
                return `${dd}/${mm}/${yyyy}`;
            }

            function formatDate(dateString) {
                if (!dateString) return '';
                try {
                    const date = new Date(dateString);
                    return date.toLocaleDateString('en-GB'); // DD/MM/YYYY
                } catch (e) { return dateString; }
            }

            function yearEndMonthToDateString(monthName) {
                if (!monthName) return '';
                const months = [
                    'January', 'February', 'March', 'April', 'May', 'June',
                    'July', 'August', 'September', 'October', 'November', 'December'
                ];
                const idx = months.indexOf(monthName);
                if (idx === -1) return monthName;

                const today = new Date();
                let year = today.getFullYear();
                if (idx < today.getMonth()) year += 1; // 如果月已过，算明年

                const dt = new Date(year, idx + 1, 0);
                return formatDdMMyyyy(dt);
            }

            // === 2. 加载 Individual 客户下拉菜单 ===
            function loadCompanyOptions() {
                $.ajax({
                    url: '/api/get/individual-company-options', // 你的新 API
                    type: 'GET',
                    success: function (res) {
                        if (res.success && res.data) {
                            companyOptionsMap = {};
                            const $sel = $('#companySelect');
                            $sel.empty().append('<option value="">-- Select Individual --</option>');

                            res.data.forEach(client => {
                                // 缓存数据 (client: { id, grouping, referral, companyName, yearEndMonth, taxIdentificationNumber })
                                companyOptionsMap[client.id] = client;

                                // 显示名字 (Individual 通常没有 CompanyNo，直接显示 Name)
                                $sel.append(`<option value="${client.id}">${client.companyName}</option>`);
                            });
                        }
                    },
                    error: function(xhr) { console.error("Failed to load individuals", xhr); }
                });
            }
            loadCompanyOptions(); // 立即加载

            // === 3. 下拉菜单联动 (Auto-fill) ===
            $('#companySelect').on('change', function () {
                const selectedId = $(this).val();

                if (!selectedId || !companyOptionsMap[selectedId]) {
                    $('#grouping').val('');
                    $('#referral').val('');
                    $('#companyName').val('');
                    $('#yearEnd').val('');
                    $('#tinNumber').val('');
                    return;
                }

                const c = companyOptionsMap[selectedId];

                // 自动填充字段
                $('#grouping').val(c.grouping || '');
                $('#referral').val(c.referral || ''); // 注意检查 DTO 里是 Referral 还是 Refferal
                $('#companyName').val(c.companyName || ''); // 填入隐藏字段

                // Year End 转换
                const formattedYearEnd = yearEndMonthToDateString(c.yearEndMonth || '');
                $('#yearEnd').val(formattedYearEnd);

                // TIN Number (对应 Individual 的 Tax ID)
                $('#tinNumber').val(c.taxIdentificationNumber || '');
            });

            // === 4. 初始化 DataTable ===
            function initializeDataTable() {
                if ($.fn.DataTable.isDataTable('#taskDatatable')) {
                    $('#taskDatatable').DataTable().destroy();
                }

                dataTable = $('#taskDatatable').DataTable({
                    "ajax": {
                        "url": "/api/bp25/get-all", // 确保这是 Form BE 的 API
                        "type": "GET",
                        "dataSrc": function(res) { return res.success ? res.data : []; }
                    },
                    "columns": [
                        { "data": "grouping", "defaultContent": "" },
                        { "data": "refferal", "defaultContent": "" },
                        { "data": "fileNo", "defaultContent": "" },
                        { "data": "companyName", "defaultContent": "" },
                        { "data": "yearEnd", "defaultContent": "" }, // 日期格式
                        { "data": "enumber", "defaultContent": "" },
                        { "data": "tinNumber", "defaultContent": "" },
                        { "data": "login", "defaultContent": "" },
                        { "data": "password", "defaultContent": "" },
                        { "data": "code", "defaultContent": "" },
                        { "data": "description", "defaultContent": "" },
                        { "data": "jobServices", "defaultContent": "" },
                        { "data": "yEtodo", "defaultContent": "" },
                        {
                            "data": "dateDocIn",
                            "render": function(data) { return formatDate(data); },
                            "defaultContent": ""
                        },
                        { "data": "mthTodo", "defaultContent": "" },
                        { "data": "staff", "defaultContent": "" },
                        { "data": "allocateToWkSch", "defaultContent": "" },
                        { "data": "completed", "defaultContent": "" },
                        {
                            "data": "id",
                            "render": function(data) {
                                return `
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-warning edit-btn" data-id="${data}" title="Edit"><i class="fas fa-edit"></i></button>
                                        <button class="btn btn-sm btn-danger delete-btn" data-id="${data}" title="Delete"><i class="fas fa-trash"></i></button>
                                    </div>`;
                            },
                            "orderable": false
                        }
                    ],
                    "order": [[0, 'desc']],
                    "responsive": true,
                    "autoWidth": false
                });
            }

            // === 5. 保存记录 ===
            $('#saveBtn').click(function() {
                if (!$('#companyName').val()) {
                    alert('Please select an Individual Client.');
                    return;
                }

                const formData = {
                    id: currentEditId,
                    grouping: $('#grouping').val(),
                    refferal: $('#referral').val(),
                    fileNo: $('#fileNo').val(),
                    companyName: $('#companyName').val(),
                    yearEnd: $('#yearEnd').val(),
                    enumber: $('#enumber').val(),
                    tinNumber: $('#tinNumber').val(),
                    login: $('#login').val(),
                    password: $('#password').val(),
                    code: $('#code').val(),
                    description: $('#description').val(),
                    jobServices: $('#jobServices').val(),
                    yEtodo: $('#yEtodo').val(),
                    dateDocIn: $('#dateDocIn').val(),
                    mthTodo: $('#mthTodo').val(),
                    staff: $('#staff').val(),
                    allocateToWkSch: $('#allocateToWkSch').val(),
                    completed: $('#completed').val()
                };

                const url = currentEditId ? '/api/bp25/update' : '/api/bp25/create';
                const method = currentEditId ? 'PUT' : 'POST';

                $('#saveBtn').prop('disabled', true).html('<i class="fas fa-spinner fa-spin"></i> Saving...');

                $.ajax({
                    url: url,
                    type: method,
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(res) {
                        $('#saveBtn').prop('disabled', false).html('Save');
                        if (res.success) {
                            $('#taskModal').modal('hide');
                            dataTable.ajax.reload(null, false);
                            resetForm();
                            alert('Saved successfully!');
                        } else {
                            alert('Error: ' + res.message);
                        }
                    },
                    error: function(xhr) {
                        $('#saveBtn').prop('disabled', false).html('Save');
                        alert('System Error: ' + xhr.responseText);
                    }
                });
            });

            // === 6. 编辑记录 (反向绑定) ===
            $(document).on('click', '.edit-btn', function() {
                const id = $(this).data('id');
                $.get(`/api/bp25/get/${id}`, function(res) {
                    if (res.success) {
                        const d = res.data;
                        currentEditId = d.id;
                        $('#modalTitle').text('Edit Record');

                        // 反向查找 Dropdown ID
                        let foundId = "";
                        for (const [key, val] of Object.entries(companyOptionsMap)) {
                            if (val.companyName === d.companyName) {
                                foundId = key;
                                break;
                            }
                        }
                        $('#companySelect').val(foundId);

                        // 填充 Input
                        $('#grouping').val(d.grouping);
                        $('#referral').val(d.refferal);
                        $('#fileNo').val(d.fileNo);
                        $('#companyName').val(d.companyName);
                        $('#yearEnd').val(d.yearEnd);
                        $('#enumber').val(d.enumber);
                        $('#tinNumber').val(d.tinNumber);
                        $('#login').val(d.login);
                        $('#password').val(d.password);
                        $('#code').val(d.code);
                        $('#description').val(d.description);
                        $('#jobServices').val(d.jobServices);
                        $('#yEtodo').val(d.yEtodo);
                        $('#dateDocIn').val(d.dateDocIn ? d.dateDocIn.split('T')[0] : '');
                        $('#mthTodo').val(d.mthTodo);
                        $('#staff').val(d.staff);
                        $('#allocateToWkSch').val(d.allocateToWkSch);
                        $('#completed').val(d.completed);

                        $('#taskModal').modal('show');
                    }
                });
            });

            // === 7. 删除记录 ===
            $(document).on('click', '.delete-btn', function() {
                const id = $(this).data('id');
                if (confirm('Delete this record?')) {
                    $.ajax({
                        url: `/api/bp25/delete/${id}`,
                        type: 'DELETE',
                        success: function(res) {
                            if (res.success) dataTable.ajax.reload(null, false);
                            else alert('Error: ' + res.message);
                        }
                    });
                }
            });

            // === 8. 重置 ===
            $('#addNewBtn').click(function() {
                resetForm();
                $('#companySelect').val('');
                $('#modalTitle').text('Add New Record');
            });

            function resetForm() {
                $('#taskForm')[0].reset();
                currentEditId = null;
                $('.datepicker').datepicker('update', '');
                $('#recordId').val('');
            }

            // 初始化执行
            initializeDatePickers();
            function initializeDatePickers() {
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    todayHighlight: true
                });
            }

            initializeDataTable();
        });
    </script>
}