@{
    ViewData["Title"] = "SdnBhdBacklog";
}

<h1>Sdn Bhd Backlog</h1>

<div class="row">
    <div class="col-md-12">
        <div id="alertContainer"></div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-tasks me-2"></i>Sdn Bhd Backlog Records</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal" id="addNewBtn">
                        <i class="fas fa-plus me-2"></i>New Record
                    </button>
                </div>
            </div>
            <div class="card-body" style="overflow:auto">
                <table id="taskDatatable" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th colspan="3">Admin</th>
                            <th colspan="8">Co Information</th>
                            <th colspan="8">Scheduling</th>
                            <th rowspan="3">Actions</th>
                        </tr>
                        <tr>
                            <th rowspan="2">Grouping</th>
                            <th rowspan="2">Referral</th>
                            <th rowspan="2">File No</th>
                            <th rowspan="2">Co Name</th>
                            <th rowspan="2">Year End</th>
                            <th colspan="2">Registration</th>
                            <th colspan="2">Tax Reference</th>
                            <th colspan="2">MISC Code</th>
                            <th colspan="4">Work Allocation Info</th>
                            <th colspan="4">Acc Dept</th>
                        </tr>
                        <tr>
                            <th>Incorp Date</th>
                            <th>Co #</th>
                            <th>E number</th>
                            <th>TIN number</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Service Type</th>
                            <th>Co Status</th>
                            <th>Active Co:Activity/size</th>
                            <th>YE to do</th>
                            <th>Date Doc In</th>
                            <th>EST Month to do</th>
                            <th>Staff</th>
                            <th>Allocate to Wk Sch</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel"><i class="fas fa-edit me-2"></i><span id="modalTitle">Add New Sdn Bhd Backlog Record</span></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <input type="hidden" id="recordId" value="">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="grouping">Grouping</label>
                                <input type="text" id="grouping" name="grouping" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="referral">Referral</label>
                                <input type="text" id="referral" name="referral" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fileNo">File No</label>
                                <input type="text" id="fileNo" name="fileNo" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="companyName">Co Name (Select Sdn Bhd)</label>

                                <select id="companySelect" class="form-control">
                                    <option value="">-- Loading... --</option>
                                </select>

                                <input type="hidden" id="companyName" name="companyName" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yearEnd">Year End</label>
                                <input type="text" id="yearEnd" name="yearEnd" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="incorpDate">Incorp Date</label>
                                <input type="text" id="incorpDate" name="incorpDate" class="form-control datepicker" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="co">Co #</label>
                                <input type="text" id="co" name="co" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="enumber">E number</label>
                                <input type="text" id="enumber" name="enumber" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tINnumber">TIN number</label>
                                <input type="text" id="tINnumber" name="tINnumber" class="form-control" placeholder="Auto-fill" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="code">MISC Code</label>
                                <input type="text" id="code" name="code" class="form-control" placeholder="Enter MISC code" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">MISC Description</label>
                                <input type="text" id="description" name="description" class="form-control" placeholder="Enter description" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="servicesType">Service Type</label>
                                <input type="text" id="servicesType" name="servicesType" class="form-control" placeholder="Enter service type" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="coStatus">Co Status</label>
                                <input type="text" id="coStatus" name="coStatus" class="form-control" placeholder="Enter company status" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="activeCoActivitySize">Active Co:Activity/size</label>
                                <input type="text" id="activeCoActivitySize" name="activeCoActivitySize" class="form-control" placeholder="Enter activity/size" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yEtoDo">YE to do</label>
                                <input type="text" id="yEtoDo" name="yEtoDo" class="form-control" placeholder="Enter YE to do" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dateDocIn">Date Doc In</label>
                                <input type="text" id="dateDocIn" name="dateDocIn" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="estMthTodo">EST Month to do</label>
                                <input type="text" id="estMthTodo" name="estMthTodo" class="form-control" placeholder="Enter month" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="staff">Staff</label>
                                <input type="text" id="staff" name="staff" class="form-control" placeholder="Enter staff name" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="allocateToWkSch">Allocate to Wk Sch</label>
                                <select id="allocateToWkSch" name="allocateToWkSch" class="form-control">
                                    <option value="">Select Option</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Cancel
                </button>
                <button type="button" class="btn btn-primary" id="saveBtn">
                    <i class="fas fa-save me-2"></i>Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function() {
            let dataTable;
            let currentEditId = null;
            let companyOptionsMap = {};

            // 🟢 新增：日期转换工具
            function formatDdMMyyyy(d) {
                const date = (d instanceof Date) ? d : new Date(d);
                if (isNaN(date)) return "";
                const dd = String(date.getDate()).padStart(2, '0');
                const mm = String(date.getMonth() + 1).padStart(2, '0');
                const yyyy = date.getFullYear();
                return `${dd}/${mm}/${yyyy}`;
            }

            function yearEndMonthToDateString(monthName) {
                if (!monthName) return '';
                const months = [
                    'January', 'February', 'March', 'April', 'May', 'June',
                    'July', 'August', 'September', 'October', 'November', 'December'
                ];
                const idx = months.indexOf(monthName);
                if (idx === -1) return monthName;
                const today = new Date();
                let year = today.getFullYear();
                if (idx < today.getMonth()) year += 1;
                const dt = new Date(year, idx + 1, 0);
                return formatDdMMyyyy(dt);
            }

            // 🟢 新增：加载 Dropdown
            function loadCompanyOptions() {
                $.ajax({
                    url: '/api/get/company-options',
                    type: 'GET',
                    success: function (res) {
                        if (res.success && res.data) {
                            companyOptionsMap = {};
                            const $sel = $('#companySelect');
                            $sel.empty().append('<option value="">-- Select Sdn Bhd Company --</option>');

                            res.data.forEach(client => {
                                companyOptionsMap[client.id] = client;
                                const displayText = client.companyNo
                                    ? `${client.companyName} (${client.companyNo})`
                                    : client.companyName;
                                $sel.append(`<option value="${client.id}">${displayText}</option>`);
                            });
                        }
                    }
                });
            }
            loadCompanyOptions(); // 立即加载

            // 🟢 新增：Dropdown 选中事件 (自动填值)
            $('#companySelect').on('change', function () {
                const selectedId = $(this).val();

                if (!selectedId || !companyOptionsMap[selectedId]) {
                    // 清空
                    $('#grouping').val('');
                    $('#referral').val('');
                    $('#fileNo').val('');
                    $('#companyName').val(''); // 清空 hidden input
                    $('#yearEnd').val('');
                    $('#incorpDate').val('');
                    $('#co').val('');
                    $('#enumber').val('');
                    $('#tINnumber').val('');
                    return;
                }

                const c = companyOptionsMap[selectedId];

                $('#grouping').val(c.grouping || '');
                $('#referral').val(c.referral || '');
                $('#fileNo').val(c.fileNo || '');

                // ⚠️ 关键：把名字填入隐藏的 input，这样原本的 Save 逻辑就能读到了！
                $('#companyName').val(c.companyName || '');

                const formattedYearEnd = yearEndMonthToDateString(c.yearEndMonth || '');
                $('#yearEnd').val(formattedYearEnd);

                if (c.incorporationDate) {
                    $('#incorpDate').datepicker('update', new Date(c.incorporationDate));
                } else {
                    $('#incorpDate').val('');
                }

                $('#co').val(c.companyNo || '');
                $('#enumber').val(c.employerNumber || '');
                $('#tINnumber').val(c.taxIdentificationNumber || '');
            });

            function initializeDatePickers() {
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    todayHighlight: true
                });
            }

            function formatDate(dateString) {
                if (!dateString) return '';
                try {
                    const date = new Date(dateString);
                    return date.toLocaleDateString('en-GB');
                } catch (e) {
                    return dateString;
                }
            }

            function showAlert(message, type) {
                const alertClass = `alert alert-${type} alert-dismissible fade show`;
                const alertHtml = `
                    <div class="${alertClass}" role="alert">
                        <i class="fas ${type === 'success' ? 'fa-check-circle' : type === 'danger' ? 'fa-exclamation-circle' : 'fa-info-circle'} me-2"></i>
                        ${message}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                `;
                $('#alertContainer').html(alertHtml);
                setTimeout(() => {
                    $('.alert').alert('close');
                }, 5000);
            }

            function resetForm() {
                $('#taskForm')[0].reset();
                currentEditId = null;
                $('#modalTitle').text('Add New Sdn Bhd Backlog Record');
                $('.datepicker').datepicker('update', '');
                $('#recordId').val('');
                $('#companySelect').val(''); // 重置 Dropdown
            }

            function testApiConnection() {
                console.log('Testing API connection to /api/bp31/get-all');
                $.ajax({
                    url: '/api/bp31/get-all',
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        console.log('API test successful:', response);
                        if (response.success) {
                            initializeDataTable();
                        } else {
                            initializeSimpleTable();
                        }
                    },
                    error: function(xhr, status, error) {
                        initializeSimpleTable();
                    }
                });
            }

            function initializeDataTable() {
                try {
                    if ($.fn.DataTable.isDataTable('#taskDatatable')) {
                        dataTable.destroy();
                        $('#taskDatatable').empty();
                    }

                    dataTable = $('#taskDatatable').DataTable({
                        "processing": true,
                        "serverSide": false,
                        "ajax": {
                            "url": "/api/bp31/get-all",
                            "type": "GET",
                            "dataSrc": function(response) {
                                return response.success ? response.data : [];
                            }
                        },
                        // ... 你的列定义完全保持原样 ...
                        "columns": [
                            { "data": "grouping", "defaultContent": "" },
                            { "data": "referral", "defaultContent": "" },
                            { "data": "fileNo", "defaultContent": "" },
                            { "data": "companyName", "defaultContent": "" },
                            { "data": "yearEnd", "defaultContent": "" },
                            { "data": "incorpDate", "render": function(data) { return data ? formatDate(data) : ''; }, "defaultContent": "" },
                            { "data": "co", "defaultContent": "" },
                            { "data": "enumber", "defaultContent": "" },
                            { "data": "tINnumber", "defaultContent": "" },
                            { "data": "code", "defaultContent": "" },
                            { "data": "description", "defaultContent": "" },
                            { "data": "servicesType", "defaultContent": "" },
                            { "data": "coStatus", "defaultContent": "" },
                            { "data": "activeCoActivitySize", "defaultContent": "" },
                            { "data": "yEtoDo", "defaultContent": "" },
                            { "data": "dateDocIn", "render": function(data) { return data ? formatDate(data) : ''; }, "defaultContent": "" },
                            { "data": "estMthTodo", "defaultContent": "" },
                            { "data": "staff", "defaultContent": "" },
                            { "data": "allocateToWkSch", "defaultContent": "" },
                            {
                                "data": "id",
                                "render": function(data, type, row) {
                                    return `
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-warning edit-btn" data-id="${data}" title="Edit"><i class="fas fa-edit"></i></button>
                                            <button class="btn btn-sm btn-danger delete-btn" data-id="${data}" title="Delete"><i class="fas fa-trash"></i></button>
                                        </div>
                                    `;
                                },
                                "orderable": false
                            }
                        ],
                        "order": [[0, 'desc']],
                        "responsive": true,
                        "searching": true,
                        "paging": true,
                        "pageLength": 10
                    });
                } catch (error) {
                    console.error('DataTable initialization failed:', error);
                    initializeSimpleTable();
                }
            }

            function initializeSimpleTable() {
                // ... 你的 fallback 表格逻辑保持原样 ...
                // (这里为了节省篇幅省略，你需要的话我可以贴上，但如果你用的是上面那段，已经包含了)
            }

            // ⚠️ 我没有动你的 Save 逻辑 ⚠️
            function saveBP31Record() {
                const formData = {
                    grouping: $('#grouping').val(),
                    referral: $('#referral').val(),
                    fileNo: $('#fileNo').val(),
                    companyName: $('#companyName').val(), // 这里会取到 hidden input 的值
                    yearEnd: $('#yearEnd').val(),
                    incorpDate: $('#incorpDate').val(),
                    co: $('#co').val(),
                    enumber: $('#enumber').val(),
                    tINnumber: $('#tINnumber').val(),
                    code: $('#code').val(),
                    description: $('#description').val(),
                    servicesType: $('#servicesType').val(),
                    coStatus: $('#coStatus').val(),
                    activeCoActivitySize: $('#activeCoActivitySize').val(),
                    yEtoDo: $('#yEtoDo').val(),
                    dateDocIn: $('#dateDocIn').val(),
                    estMthTodo: $('#estMthTodo').val(),
                    staff: $('#staff').val(),
                    allocateToWkSch: $('#allocateToWkSch').val()
                };

                const url = currentEditId ? '/api/bp31/update' : '/api/bp31/create';
                const method = currentEditId ? 'PUT' : 'POST';
                if (currentEditId) formData.id = currentEditId;

                $('#saveBtn').prop('disabled', true).html('<i class="fas fa-spinner fa-spin me-2"></i>Saving...');

                $.ajax({
                    url: url,
                    type: method,
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(response) {
                        $('#saveBtn').prop('disabled', false).html('<i class="fas fa-save me-2"></i>Save');
                        if (response.success) {
                            $('#taskModal').modal('hide');
                            refreshTable();
                            resetForm();
                            showAlert('Record saved successfully!', 'success');
                        } else {
                            showAlert('Error saving record: ' + response.message, 'danger');
                        }
                    },
                    error: function(xhr, status, error) {
                        $('#saveBtn').prop('disabled', false).html('<i class="fas fa-save me-2"></i>Save');
                        showAlert('Error saving record: ' + error, 'danger');
                    }
                });
            }

            // 🟢 修改：编辑记录 (增加 Dropdown 回填逻辑)
            function editRecord(id) {
                $.get(`/api/bp31/get/${id}`, function(response) {
                    if (response.success) {
                        const record = response.data;
                        currentEditId = record.id;

                        // --- 这里的逻辑是必须加的，否则编辑时下拉菜单是空的 ---
                        let foundId = "";
                        for (const [key, val] of Object.entries(companyOptionsMap)) {
                            if (val.companyName === record.companyName) {
                                foundId = key;
                                break;
                            }
                        }
                        $('#companySelect').val(foundId);
                        // -----------------------------------------------

                        $('#grouping').val(record.grouping || '');
                        $('#referral').val(record.referral || '');
                        $('#fileNo').val(record.fileNo || '');
                        $('#companyName').val(record.companyName || '');
                        $('#yearEnd').val(record.yearEnd || '');
                        $('#incorpDate').val(record.incorpDate ? record.incorpDate.split('T')[0] : '');
                        $('#co').val(record.co || '');
                        $('#enumber').val(record.enumber || '');
                        $('#tINnumber').val(record.tINnumber || '');
                        $('#code').val(record.code || '');
                        $('#description').val(record.description || '');
                        $('#servicesType').val(record.servicesType || '');
                        $('#coStatus').val(record.coStatus || '');
                        $('#activeCoActivitySize').val(record.activeCoActivitySize || '');
                        $('#yEtoDo').val(record.yEtoDo || '');
                        $('#dateDocIn').val(record.dateDocIn ? record.dateDocIn.split('T')[0] : '');
                        $('#estMthTodo').val(record.estMthTodo || '');
                        $('#staff').val(record.staff || '');
                        $('#allocateToWkSch').val(record.allocateToWkSch || '');

                        $('#modalTitle').text('Edit Sdn Bhd Backlog Record');
                        $('#taskModal').modal('show');
                    } else {
                        showAlert('Error loading record: ' + response.message, 'danger');
                    }
                });
            }

            function deleteRecord(id) {
                if (confirm('Are you sure you want to delete this record?')) {
                    $.ajax({
                        url: `/api/bp31/delete/${id}`,
                        type: 'DELETE',
                        success: function(response) {
                            if (response.success) {
                                refreshTable();
                                showAlert('Record deleted successfully!', 'success');
                            } else {
                                showAlert('Error deleting record: ' + response.message, 'danger');
                            }
                        }
                    });
                }
            }

            function refreshTable() {
                if (dataTable && typeof dataTable.ajax.reload === 'function') {
                    dataTable.ajax.reload(null, false);
                } else {
                    initializeSimpleTable();
                }
            }

            // 事件绑定
            $('#saveBtn').click(saveBP31Record);
            $(document).on('click', '.edit-btn', function() { editRecord($(this).data('id')); });
            $(document).on('click', '.delete-btn', function() { deleteRecord($(this).data('id')); });
            $('#taskModal').on('hidden.bs.modal', resetForm);
            $('#addNewBtn').click(function() {
                resetForm();
                $('#modalTitle').text('Add New Sdn Bhd Backlog Record');
            });
            $('#taskForm').on('submit', function(e) {
                e.preventDefault();
                saveBP31Record();
            });

            // 初始化
            console.log('Initializing Sdn Bhd Backlog application...');
            initializeDatePickers();
            loadCompanyOptions(); // 加载 Dropdown
            testApiConnection();
        });
    </script>
}