@using SWSA.MvcPortal.Commons.Enums
@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Entities.Clients
@using SWSA.MvcPortal.Services.Interfaces.SystemCore

@inject IUserContext userContext
@{
    ViewData["Title"] = "Sdn Bhd List";
    var clientType = ClientType.SdnBhd;
    <input hidden value="@clientType" id="clientType" />
}

<h3> Sdn Bhd Client List </h3>

<div class="row">
    <div class="col-md-12">
        <!-- /.card -->
        @await Component.InvokeAsync("FilterClientList", clientType)

        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">

                <table id="clientDatatable" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th colspan="3">Admin</th>
                            <th colspan="7">Company Information</th>
                        </tr>
                        <tr>
                            <th class="vertical-rl" rowspan="2">Grouping</th>
                            <th class="vertical-rl" rowspan="2">Referral </th>
                            <th class="vertical-rl" rowspan="2">File No </th>
                            <th rowspan="2">Company Name </th>
                            <th rowspan="2">Company Type </th>
                            <th rowspan="2">Year End </th>
                            <th colspan="2">Registration </th>
                            <th colspan="2">Tax Reference </th>
                        </tr>
                        <tr>
                            <th>Incorp Date</th>
                            <th>Company #</th>
                            <th>E number</th>
                            <th>Tin Number</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        @await Component.InvokeAsync("ClientListDetails", clientType)

    </div>
</div>
@await Component.InvokeAsync("ScheduleWorkModal", clientType)
@await Component.InvokeAsync("UpsertCommContact", clientType)
@await Component.InvokeAsync("UpsertOfficialContact", clientType)
@await Component.InvokeAsync("UpsertOwnerContact", clientType)
@await Component.InvokeAsync("UpsertWorkAllocation", clientType)

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DatatablesScriptsPartial" />
    <script src="~/js/clients/list.js" asp-append-version="true"></script>
    <script src="~/js/clients/load-client-list-details.js" asp-append-version="true"></script>
    <script src="~/js/clients/client-list-details.js" asp-append-version="true"></script>

    <script src="~/js/clients-works/schedule-work.js" asp-append-version="true"></script>
    <script src="~/js/clients/upsert-modal/upsert-comm-contact.js" asp-append-version="true"></script>
    <script src="~/js/clients/upsert-modal/upsert-official-contact.js" asp-append-version="true"></script>
    <script src="~/js/clients/upsert-modal/upsert-owner.js" asp-append-version="true"></script>
    <script src="~/js/clients/upsert-modal/upsert-work-alloc.js" asp-append-version="true"></script>
}