@{
    ViewData["Title"] = "Audit Template";
}

<h1>Audit Template</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-tasks me-2"></i>Audit Template Records
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal" onclick="openCreateModal()">
                        <i class="fas fa-plus me-2"></i>New Task
                    </button>
                </div>
            </div>
            <div class="card-body" style="overflow:auto">
                <table id="taskDatatable" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th colspan="12"></th>
                            <th colspan="18">AT3.2 Audit Work done WIP</th>
                            <th colspan="15"></th>
                        </tr>

                        <tr>
                            <th colspan="12"></th>
                            <th colspan="5">Audit WIP (days)</th>
                            <th colspan="6">Audit Work WIP %</th>
                            <th colspan="7">Review</th>
                            <th colspan="4">AT3.3 Audit Reports from KK</th>
                            <th colspan="4">AT3.4 Directors' signing pages</th>
                            <th colspan="2">5. Tax Dept</th>
                            <th colspan="2">6. Sec Dept</th>
                            <th colspan="2">7. Post Audit Work</th>
                            <th></th>
                        </tr>

                        <tr>
                            <th rowspan="2">No</th>
                            <th rowspan="2">Company Name</th>
                            <th rowspan="2">Activity</th>
                            <th rowspan="2">Which Database?</th>
                            <th rowspan="2">YE to do</th>
                            <th rowspan="2">Quarter to do</th>
                            <th rowspan="2">PIC</th>
                            <th rowspan="2">Status</th>

                            <th colspan="2">Est current yr result '000</th>
                            <th colspan="2">Billing</th>

                            <th rowspan="2">a. Start Date</th>
                            <th rowspan="2">b. As at</th>
                            <th rowspan="2">c. No of Days</th>
                            <th rowspan="2">Total Field wk days</th>
                            <th rowspan="2">Result Over/Under</th>

                            <th colspan="2">A. Prog tracker %</th>
                            <th colspan="2">B. Task</th>
                            <th colspan="2">A+B+C</th>

                            <th colspan="3">Kuching 1st Review</th>
                            <th colspan="3">2nd Review KK</th>

                            <th rowspan="2">2. Total # review days</th>

                            <th rowspan="2">Date Sent to KK</th>
                            <th rowspan="2">Date received AR</th>
                            <th rowspan="2">Date of Report</th>
                            <th rowspan="2">Date of Directors</th>

                            <th rowspan="2">Date Sent</th>
                            <th rowspan="2">Follow up dates</th>
                            <th rowspan="2">Date received</th>
                            <th rowspan="2">Comm of Oaths date</th>

                            <th rowspan="2">Tax Due Date</th>
                            <th rowspan="2">Pass to Tax Dept</th>

                            <th rowspan="2">SSM Due Date</th>
                            <th rowspan="2">Date pass to Sec Dept(MBRS)</th>

                            <th rowspan="2">Date Binded</th>
                            <th rowspan="2">Despatch Date to Client</th>

                            <th rowspan="2">Action</th>
                        </tr>

                        <tr>
                            <th>Revenue</th>
                            <th>Profit/(loss)</th>
                            <th>Audit Fee</th>
                            <th>Date billed</th>
                            <th>a. Acc setup(J)</th>
                            <th>b. Ac summary(J)</th>
                            <th>c. Audit Planning(PIC)</th>
                            <th>d. Audit Execution</th>
                            <th>e. Audit Completion(PIC)</th>
                            <th>Total %</th>
                            <th>Date Sent</th>
                            <th>End Date</th>
                            <th>A. Result Over/Under</th>
                            <th>Date Sent</th>
                            <th>End Date</th>
                            <th>B. Result Over/Under</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">
                    <i class="fas fa-edit me-2"></i>
                    <span id="modalTitle">Add New Audit Template Record</span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <input type="hidden" id="recordId" value="">

                    <div class="form-info-label col-12">
                        <label>Basic Information</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="companyName">Company Name (Link From Client List)</label>
                                <select id="companyName" name="companyName" class="form-select form-control" required>
                                    <option value="">-- Select Company --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="activity">Activity</label>
                                <input type="text" id="activity" name="activity" class="form-control" placeholder="Enter activity" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="whichDB">Which Database?</label>
                                <input type="text" id="whichDB" name="whichDB" class="form-control" placeholder="Enter database" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yEtodo">YE to do</label>
                                <input type="text" id="yEtodo" name="yEtodo" class="form-control" placeholder="Enter year end" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="quarterTodo">Quarter to do</label>
                                <input type="text" id="quarterTodo" name="quarterTodo" class="form-control" placeholder="Enter quarter" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pic">PIC</label>
                                <input type="text" id="pic" name="pic" class="form-control" placeholder="Enter PIC name" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <input type="text" id="status" name="status" class="form-control" placeholder="Enter status" />
                            </div>
                        </div>
                    </div>

                    <div class="form-info-label col-12">
                        <label>Financial Information</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="revenue">Revenue ('000)</label>
                                <input type="number" id="revenue" name="revenue" class="form-control" placeholder="Enter revenue" step="0.01" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="profitLoss">Profit/(Loss) ('000)</label>
                                <input type="number" id="profitLoss" name="profitLoss" class="form-control" placeholder="Enter profit/loss" step="0.01" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="auditFee">Audit Fee</label>
                                <input type="number" id="auditFee" name="auditFee" class="form-control" placeholder="Enter audit fee" step="0.01" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateBilled">Date Billed</label>
                                <input type="date" id="dateBilled" name="dateBilled" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="form-info-label col-12">
                        <label>Audit WIP (days)</label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="startDate">a. Start Date</label>
                                <input type="date" id="startDate" name="startDate" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="asAt">b. As at</label>
                                <input type="date" id="asAt" name="asAt" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="noOfDays">c. No of Days</label>
                                <input type="number" id="noOfDays" name="noOfDays" class="form-control" placeholder="Enter days" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="totalFieldWkDays">Total Field Work Days</label>
                                <input type="number" id="totalFieldWkDays" name="totalFieldWkDays" class="form-control" placeholder="Enter days" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="resultOverUnder">Result Over/Under</label>
                                <input type="text" id="resultOverUnder" name="resultOverUnder" class="form-control" placeholder="Enter result" />
                            </div>
                        </div>
                    </div>

                    <div class="form-info-label col-12">
                        <label>Audit Work WIP %</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="accSetup">a. Acc setup(J) %</label>
                                <input type="number" id="accSetup" name="accSetup" class="form-control" placeholder="Enter percentage" step="0.01" min="0" max="100" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="acSummary">b. Ac summary(J) %</label>
                                <input type="number" id="acSummary" name="acSummary" class="form-control" placeholder="Enter percentage" step="0.01" min="0" max="100" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="auditPlanning">c. Audit Planning(PIC) %</label>
                                <input type="number" id="auditPlanning" name="auditPlanning" class="form-control" placeholder="Enter percentage" step="0.01" min="0" max="100" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="auditExecution">d. Audit Execution %</label>
                                <input type="number" id="auditExecution" name="auditExecution" class="form-control" placeholder="Enter percentage" step="0.01" min="0" max="100" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="auditCompletion">e. Audit Completion(PIC) %</label>
                                <input type="number" id="auditCompletion" name="auditCompletion" class="form-control" placeholder="Enter percentage" step="0.01" min="0" max="100" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="totalPercent">Total %</label>
                                <input type="number" id="totalPercent" name="totalPercent" class="form-control" placeholder="Enter total percentage" step="0.01" min="0" max="100" />
                            </div>
                        </div>
                    </div>

                    <div class="form-info-label col-12">
                        <label>Review</label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dateSent">Date Sent</label>
                                <input type="date" id="dateSent" name="dateSent" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="endDate">End Date</label>
                                <input type="date" id="endDate" name="endDate" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="resultOverUnderKuching">Result Over/Under Kuching</label>
                                <input type="text" id="resultOverUnderKuching" name="resultOverUnderKuching" class="form-control" placeholder="Enter result" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dateSentKK">Date Sent KK</label>
                                <input type="date" id="dateSentKK" name="dateSentKK" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="endDateKK">End Date KK</label>
                                <input type="date" id="endDateKK" name="endDateKK" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="resultOverUnderKK">Result Over/Under KK</label>
                                <input type="text" id="resultOverUnderKK" name="resultOverUnderKK" class="form-control" placeholder="Enter result" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="totalReviewDaysKK">Total # Review Days KK</label>
                                <input type="number" id="totalReviewDaysKK" name="totalReviewDaysKK" class="form-control" placeholder="Enter days" />
                            </div>
                        </div>
                    </div>

                    <div class="form-info-label col-12">
                        <label>Additional Information</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateSentToKK">Date Sent to KK</label>
                                <input type="date" id="dateSentToKK" name="dateSentToKK" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateReceivedAR">Date Received AR</label>
                                <input type="date" id="dateReceivedAR" name="dateReceivedAR" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfReport">Date of Report</label>
                                <input type="date" id="dateOfReport" name="dateOfReport" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfDirectorsRept">Date of Directors Report</label>
                                <input type="date" id="dateOfDirectorsRept" name="dateOfDirectorsRept" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateSentSigning">Date Sent Signing</label>
                                <input type="date" id="dateSentSigning" name="dateSentSigning" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="flwUpDate">Follow up Date</label>
                                <input type="date" id="flwUpDate" name="flwUpDate" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateReceivedSigning">Date Received Signing</label>
                                <input type="date" id="dateReceivedSigning" name="dateReceivedSigning" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="commOfOathsDate">Comm of Oaths Date</label>
                                <input type="date" id="commOfOathsDate" name="commOfOathsDate" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="taxDueDate">Tax Due Date</label>
                                <input type="date" id="taxDueDate" name="taxDueDate" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="passToTaxDept">Pass to Tax Dept</label>
                                <input type="date" id="passToTaxDept" name="passToTaxDept" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ssmDueDate">SSM Due Date</label>
                                <input type="date" id="ssmDueDate" name="ssmDueDate" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="datePassToSecDept">Date Pass to Sec Dept</label>
                                <input type="date" id="datePassToSecDept" name="datePassToSecDept" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateBinded">Date Binded</label>
                                <input type="date" id="dateBinded" name="dateBinded" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="despatchDateToClient">Despatch Date to Client</label>
                                <input type="date" id="despatchDateToClient" name="despatchDateToClient" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Cancel
                </button>
                <button type="button" class="btn btn-primary" id="saveBtn">
                    <i class="fas fa-save me-2"></i>Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        let dataTable;
        let dataTableInitialized = false;
        let isSubmitting = false; // 防重复提交标志

        // ---------- 1. Dropdown Loading Logic (Updated) ----------
        function loadClientOptions() {
            // console.log('Loading client options...');
            $.ajax({
                url: '/api/auditdept/clients/get-list',
                type: 'GET',
                success: function (res) {
                    if (res && res.success && res.data) {
                        const $select = $('#companyName');
                        // 保留第一项 "-- Select Company --"，清空后面的
                        $select.find('option:not(:first)').remove();

                        res.data.forEach(client => {
                            // 1. 获取公司名 (兼容大小写)
                            const name = client.CompanyName || client.companyName || client.Name || client.name;

                            // 2. 获取客户类型 (兼容大小写)
                            // 后端 Enum.ToString() 会返回 "SdnBhd", "Individual" 等字符串
                            const type = client.ClientType || client.clientType || '';

                            if (name) {
                                // 3. 拼接显示文本，例如: "My Company Sdn Bhd (SdnBhd)"
                                let displayText = name;
                                if (type) {
                                    displayText = `${name} (${type})`;
                                }

                                // value 依然只存 name
                                $select.append(`<option value="${name}">${displayText}</option>`);
                            }
                        });
                    }
                },
                error: function (err) {
                    console.error('Failed to load client list', err);
                }
            });
        }

        // ---------- Modal alert + inline field errors ----------
        function showModalAlert(msg, type) {
            if ($('#modalAlert').length === 0) {
                $('#taskModal .modal-body').prepend('<div id="modalAlert" class="alert d-none"></div>');
            }

            const map = {
                success: 'alert-success',
                error: 'alert-danger',
                warning: 'alert-warning',
                info: 'alert-info'
            };
            const $box = $('#modalAlert');
            $box.removeClass('d-none alert-success alert-danger alert-warning alert-info')
                .addClass(map[type] || 'alert-info')
                .html(msg);

            const $body = $('#taskModal .modal-body');
            $body.stop(true).animate({ scrollTop: 0 }, 200, function () {
                $box.attr('tabindex', -1).focus();
            });
        }

        function hideModalAlert() {
            $('#modalAlert').addClass('d-none').empty();
        }

        function clearFieldErrors() {
            $('#taskForm .is-invalid').removeClass('is-invalid');
            $('#taskForm .invalid-feedback').remove();
        }

        function setFieldError(selector, message) {
            const $f = $(selector);
            if (!$f.length) return;
            $f.addClass('is-invalid');
            if ($f.next('.invalid-feedback').length === 0) {
                $f.after('<div class="invalid-feedback"></div>');
            }
            $f.next('.invalid-feedback').text(message);
        }

        // ---------- Page-level alert ----------
        function showAlert(message, type) {
            const cls = type === 'success' ? 'alert-success'
                : type === 'error' ? 'alert-danger'
                    : type === 'warning' ? 'alert-warning' : 'alert-info';
            const html = `<div class="alert ${cls} alert-dismissible fade show" role="alert">
                                    ${message}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                  </div>`;
            $('.card-header').after(html);
            setTimeout(() => $('.alert').alert('close'), type === 'error' ? 5000 : 3000);
        }

        // ---------- Helpers ----------
        function formatDateForDisplay(s) {
            if (!s) return '';
            try {
                if (s instanceof Date) {
                    return s.toLocaleDateString('en-GB');
                }
                if (typeof s === 'string') {
                    const date = new Date(s);
                    if (!isNaN(date.getTime())) {
                        return date.toLocaleDateString('en-GB');
                    }
                }
                return s;
            } catch (e) {
                return s;
            }
        }

        function getVal(obj, name) {
            if (!obj) return '';

            if (obj[name] !== undefined && obj[name] !== null) return obj[name];

            const camel = name.charAt(0).toLowerCase() + name.slice(1);
            if (obj[camel] !== undefined && obj[camel] !== null) return obj[camel];

            const targetLower = name.toLowerCase();
            for (const key in obj) {
                if (!Object.prototype.hasOwnProperty.call(obj, key)) continue;
                if (key.toLowerCase() === targetLower) return obj[key];
            }
            return '';
        }

        function clearForm() {
            $('#taskForm')[0].reset();
            $('#recordId').val('');
            $('#modalTitle').text('Add New Audit Template Record');
            hideModalAlert();
            clearFieldErrors();
            resetSubmitState(); // 重置提交状态
        }

        function formatCurrency(amount) {
            if (!amount && amount !== 0) return '';
            try {
                return 'RM ' + parseFloat(amount).toLocaleString('en-MY', {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                });
            } catch (e) {
                return amount || '';
            }
        }

        function formatPercentage(value) {
            if (!value && value !== 0) return '';
            try {
                return parseFloat(value) + '%';
            } catch (e) {
                return value || '';
            }
        }

        // ---------- Submit State Management ----------
        function resetSubmitState() {
            isSubmitting = false;
            $('#saveBtn').prop('disabled', false).html('<i class="fas fa-save me-2"></i>Save');
        }

        function setSubmittingState() {
            isSubmitting = true;
            $('#saveBtn').prop('disabled', true).html('<i class="fas fa-spinner fa-spin me-2"></i>Saving...');
        }

        // ---------- Init ----------
        $(document).ready(function () {
            console.log('Document ready, initializing AT11...');

            // ⭐ 1. Load Client List into Dropdown
            loadClientOptions();

            // 初始化日期选择器
            try {
                // 将所有日期输入框转换为日期选择器
                $('input[type="date"]').each(function() {
                    const $input = $(this);
                    const currentVal = $input.val();

                    const $textInput = $('<input type="text" class="form-control datepicker">')
                        .val(currentVal ? formatDateForDisplay(currentVal) : '')
                        .attr('placeholder', 'DD/MM/YYYY')
                        .attr('name', $input.attr('name'))
                        .attr('id', $input.attr('id'));

                    $input.replaceWith($textInput);
                });

                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    todayHighlight: true
                });
                console.log('Datepicker initialized');
            } catch (e) {
                console.error('Datepicker init error:', e);
            }

            // 初始化 DataTable
            try {
                dataTable = $('#taskDatatable').DataTable({
                    responsive: true,
                    ordering: true,
                    autoWidth: true,
                    pageLength: 10,
                    order: [[1, 'asc']],
                    language: {
                        search: "Search:",
                        lengthMenu: "Show _MENU_ entries",
                        emptyTable: "No records found",
                        info: "Showing _START_ to _END_ of _TOTAL_ entries",
                        infoEmpty: "Showing 0 to 0 of 0 entries",
                        paginate: {
                            first: "First",
                            last: "Last",
                            next: "Next",
                            previous: "Previous"
                        }
                    },
                    columnDefs: [
                        {
                            targets: '_all',
                            defaultContent: ''
                        },
                        // ⭐ 关键修正：禁止对最后一列 (Action) 进行排序
                        {
                            targets: -1,
                            orderable: false,
                            searchable: false
                        }
                    ],
                    scrollX: true
                });
                dataTableInitialized = true;
                console.log('DataTable initialized successfully');
            } catch (error) {
                console.error('DataTable initialization error:', error);
                $('#taskDatatable').addClass('table table-bordered table-striped');
                dataTableInitialized = false;
            }

            // 绑定保存按钮事件 - 使用防重复提交
            $('#saveBtn').click(function() {
                if (!isSubmitting) {
                    saveRecord();
                } else {
                    console.log('Submission in progress, please wait...');
                }
            });

            // 使用事件委托绑定动态按钮
            $(document).on('click', '.edit-btn', function () {
                const id = $(this).data('id');
                console.log('Edit clicked for ID:', id);
                editRecord(id);
            });

            $(document).on('click', '.delete-btn', function () {
                const id = $(this).data('id');
                console.log('Delete clicked for ID:', id);
                deleteRecord(id);
            });

            // 模态框关闭时重置状态
            $('#taskModal').on('hidden.bs.modal', function() {
                clearForm();
                resetSubmitState();
            });

            // 新建按钮点击事件
            $('[data-bs-target="#taskModal"]').on('click', function () {
                console.log('New Task button clicked');
                openCreateModal(); // Use the helper function
            });

            // 首次载入数据
            console.log('Loading initial data...');
            loadRecordsFromDatabase();
        });

        // ---------- Load & Render ----------
        function loadRecordsFromDatabase() {
            console.log('Loading AT11 records from database...');

            $.ajax({
                url: '/api/auditdept/at11/get-all',
                type: 'GET',
                success: function (res) {
                    console.log('API response:', res);
                    if (res && res.success) {
                        populateTable(res.data || []);
                        showAlert('Loaded ' + (res.data?.length || 0) + ' records.', 'success');
                    } else {
                        const errorMsg = res?.message || 'Unknown error';
                        console.error('API error:', errorMsg);
                        showAlert('Failed to load: ' + errorMsg, 'error');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('AJAX error:', error);
                    showAlert('Failed to load: ' + (xhr.statusText || 'Network error'), 'error');
                }
            });
        }

        function populateTable(records) {
            console.log('Populating table with records:', records);

            if (!dataTableInitialized) {
                console.log('DataTable not initialized, using manual table population');
                manualPopulateTable(records);
                return;
            }

            // 清除现有数据
            dataTable.clear();

            if (records && records.length) {
                records.forEach(function (r, index) {
                    const id = getVal(r, 'Id');
                    // console.log('Processing record:', r);

                    // 构建数据行 - 根据表格结构 (共45列)
                    const rowData = [
                        index + 1, // No
                        getVal(r, 'CompanyName'),                                        // Company Name
                        getVal(r, 'Activity'),                                           // Activity
                        getVal(r, 'WhichDB'),                                            // Which Database?
                        getVal(r, 'YEtodo'),                                             // YE to do
                        getVal(r, 'QuarterTodo'),                                        // Quarter to do
                        getVal(r, 'PIC'),                                                // PIC
                        getVal(r, 'Status'),                                             // Status
                        formatCurrency(getVal(r, 'Revenue')),                            // Revenue
                        formatCurrency(getVal(r, 'ProfitLoss')),                         // Profit/(loss)
                        formatCurrency(getVal(r, 'AuditFee')),                           // Audit Fee
                        formatDateForDisplay(getVal(r, 'DateBilled')),                   // Date billed
                        formatDateForDisplay(getVal(r, 'StartDate')),                    // Start Date
                        formatDateForDisplay(getVal(r, 'AsAt')),                         // As at
                        getVal(r, 'NoOfDays') || '',                                     // No of Days
                        getVal(r, 'TotalFieldWkDays') || '',                             // Total Field wk days
                        getVal(r, 'ResultOverUnder'),                                    // Result Over/Under
                        formatPercentage(getVal(r, 'AccSetup')),                         // Acc setup(J)
                        formatPercentage(getVal(r, 'AcSummary')),                        // Ac summary(J)
                        formatPercentage(getVal(r, 'AuditPlanning')),                    // Audit Planning(PIC)
                        formatPercentage(getVal(r, 'AuditExecution')),                   // Audit Execution
                        formatPercentage(getVal(r, 'AuditCompletion')),                  // Audit Completion(PIC)
                        formatPercentage(getVal(r, 'TotalPercent')),                     // Total %
                        formatDateForDisplay(getVal(r, 'DateSent')),                     // Kuching Review Date Sent
                        formatDateForDisplay(getVal(r, 'EndDate')),                      // Kuching Review End Date
                        getVal(r, 'ResultOverUnderKuching'),                             // Kuching Review Result
                        formatDateForDisplay(getVal(r, 'DateSentKK')),                   // KK Review Date Sent
                        formatDateForDisplay(getVal(r, 'EndDateKK')),                    // KK Review End Date
                        getVal(r, 'ResultOverUnderKK'),                                  // KK Review Result
                        getVal(r, 'TotalReviewDaysKK') || '',                            // Total # review days
                        formatDateForDisplay(getVal(r, 'DateSentToKK')),                 // Date Sent to KK
                        formatDateForDisplay(getVal(r, 'DateReceivedAR')),               // Date received AR
                        formatDateForDisplay(getVal(r, 'DateOfReport')),                 // Date of Report
                        formatDateForDisplay(getVal(r, 'DateOfDirectorsRept')),          // Date of Directors
                        formatDateForDisplay(getVal(r, 'DateSentSigning')),              // Date Sent
                        formatDateForDisplay(getVal(r, 'FlwUpDate')),                    // Follow up dates
                        formatDateForDisplay(getVal(r, 'DateReceivedSigning')),          // Date received
                        formatDateForDisplay(getVal(r, 'CommOfOathsDate')),              // Comm of Oaths date
                        formatDateForDisplay(getVal(r, 'TaxDueDate')),                   // Tax Due Date
                        formatDateForDisplay(getVal(r, 'PassToTaxDept')),                // Pass to Tax Dept
                        formatDateForDisplay(getVal(r, 'SSMDueDate')),                   // SSM Due Date
                        formatDateForDisplay(getVal(r, 'DatePassToSecDept')),            // Date pass to Sec Dept
                        formatDateForDisplay(getVal(r, 'DateBinded')),                   // Date Binded
                        formatDateForDisplay(getVal(r, 'DespatchDateToClient')),         // Despatch Date to Client
                        `<button class="btn btn-sm btn-warning edit-btn" data-id="${id}" title="Edit">
                            <i class="fas fa-edit"></i>
                         </button>
                         <button class="btn btn-sm btn-danger delete-btn" data-id="${id}" title="Delete">
                            <i class="fas fa-trash"></i>
                         </button>`
                    ];

                    dataTable.row.add(rowData);
                });
            }

            dataTable.draw();
            console.log('Table populated successfully');
        }

        // 降级方案：手动填充表格
        function manualPopulateTable(records) {
            const tbody = $('#tableBody');
            tbody.empty();

            if (records && records.length) {
                records.forEach(function (r, index) {
                    const id = getVal(r, 'Id');
                    // 此处省略手动拼接 HTML 的代码，因为上面 DataTable 已经处理了
                });
            } else {
                tbody.html('<tr><td colspan="48" class="text-center">No audit template records found</td></tr>');
            }
        }

        // ---------- Save (Create / Update) ----------
        function saveRecord() {
            console.log('Save button clicked');
            hideModalAlert();
            clearFieldErrors();

            const formData = {
                Id: ($('#recordId').val() || '0').trim(),

                CompanyName: ($('#companyName').val() || '').trim(),
                Activity: ($('#activity').val() || '').trim(),
                WhichDB: ($('#whichDB').val() || '').trim(),
                YEtodo: ($('#yEtodo').val() || '').trim(),
                QuarterTodo: ($('#quarterTodo').val() || '').trim(),
                PIC: ($('#pic').val() || '').trim(),
                Status: ($('#status').val() || '').trim(),
                Revenue: ($('#revenue').val() || '').trim(),
                ProfitLoss: ($('#profitLoss').val() || '').trim(),
                AuditFee: ($('#auditFee').val() || '').trim(),
                DateBilled: ($('#dateBilled').val() || '').trim(),
                StartDate: ($('#startDate').val() || '').trim(),
                AsAt: ($('#asAt').val() || '').trim(),
                NoOfDays: ($('#noOfDays').val() || '').trim(),
                TotalFieldWkDays: ($('#totalFieldWkDays').val() || '').trim(),
                ResultOverUnder: ($('#resultOverUnder').val() || '').trim(),
                AccSetup: ($('#accSetup').val() || '').trim(),
                AcSummary: ($('#acSummary').val() || '').trim(),
                AuditPlanning: ($('#auditPlanning').val() || '').trim(),
                AuditExecution: ($('#auditExecution').val() || '').trim(),
                AuditCompletion: ($('#auditCompletion').val() || '').trim(),
                TotalPercent: ($('#totalPercent').val() || '').trim(),
                DateSent: ($('#dateSent').val() || '').trim(),
                EndDate: ($('#endDate').val() || '').trim(),
                ResultOverUnderKuching: ($('#resultOverUnderKuching').val() || '').trim(),
                DateSentKK: ($('#dateSentKK').val() || '').trim(),
                EndDateKK: ($('#endDateKK').val() || '').trim(),
                ResultOverUnderKK: ($('#resultOverUnderKK').val() || '').trim(),
                TotalReviewDaysKK: ($('#totalReviewDaysKK').val() || '').trim(),
                DateSentToKK: ($('#dateSentToKK').val() || '').trim(),
                DateReceivedAR: ($('#dateReceivedAR').val() || '').trim(),
                DateOfReport: ($('#dateOfReport').val() || '').trim(),
                DateOfDirectorsRept: ($('#dateOfDirectorsRept').val() || '').trim(),
                DateSentSigning: ($('#dateSentSigning').val() || '').trim(),
                FlwUpDate: ($('#flwUpDate').val() || '').trim(),
                DateReceivedSigning: ($('#dateReceivedSigning').val() || '').trim(),
                CommOfOathsDate: ($('#commOfOathsDate').val() || '').trim(),
                TaxDueDate: ($('#taxDueDate').val() || '').trim(),
                PassToTaxDept: ($('#passToTaxDept').val() || '').trim(),
                SSMDueDate: ($('#ssmDueDate').val() || '').trim(),
                DatePassToSecDept: ($('#datePassToSecDept').val() || '').trim(),
                DateBinded: ($('#dateBinded').val() || '').trim(),
                DespatchDateToClient: ($('#despatchDateToClient').val() || '').trim()
            };

            console.log('Form data:', formData);

            // 简单必填验证
            let hasError = false;
            if (!formData.CompanyName) {
                setFieldError('#companyName', 'Company Name is required');
                hasError = true;
            }

            if (hasError) {
                showModalAlert('Please fix the highlighted fields.', 'error');
                $('#taskForm .is-invalid').first().focus();
                return;
            }

            const isUpdate = Number(formData.Id) > 0;
            const url = isUpdate ? '/api/auditdept/at11/update' : '/api/auditdept/at11/create';
            const method = isUpdate ? 'PUT' : 'POST';

            console.log('Saving via:', url, method);

            // 设置提交状态
            setSubmittingState();

            $.ajax({
                url: url,
                type: method,
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (res) {
                    console.log('Save response:', res);

                    // 重置提交状态
                    resetSubmitState();

                    if (res && res.success) {
                        $('#taskModal').modal('hide');
                        showAlert('Record saved successfully.', 'success');
                        loadRecordsFromDatabase();
                    } else {
                        const msg = res?.errors ? res.errors.join(', ') : (res?.message || 'Unknown error');
                        showModalAlert('Error saving record: ' + msg, 'error');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Save error:', error);

                    // 重置提交状态
                    resetSubmitState();
                    showModalAlert('Error saving record: ' + (xhr.statusText || 'Network error'), 'error');
                }
            });
        }

        // ---------- Edit ----------
        function editRecord(id) {
            console.log('Editing record ID:', id);
            $('#modalTitle').html('<i class="fas fa-spinner fa-spin me-2"></i>Loading...');
            hideModalAlert();
            clearFieldErrors();

            $.ajax({
                url: '/api/auditdept/at11/get/' + id,
                type: 'GET',
                success: function (res) {
                    $('#modalTitle').html('<i class="fas fa-edit me-2"></i>Edit Audit Template Record');
                    if (res && res.success) {
                        const d = res.data || {};
                        console.log('Edit data loaded:', d);

                        $('#recordId').val(getVal(d, 'Id'));

                        // ⭐ 2. Dropdown Logic in Edit Mode
                        const existingCompany = getVal(d, 'CompanyName');
                        const $select = $('#companyName');

                        // Try to select
                        $select.val(existingCompany);

                        // If the company is not in the dropdown (e.g. deleted or old data), add it temporarily
                        if (!$select.val() && existingCompany) {
                            $select.append(`<option value="${existingCompany}" selected>${existingCompany} (Archived)</option>`);
                            $select.val(existingCompany);
                        }

                        $('#activity').val(getVal(d, 'Activity'));
                        $('#whichDB').val(getVal(d, 'WhichDB'));
                        $('#yEtodo').val(getVal(d, 'YEtodo'));
                        $('#quarterTodo').val(getVal(d, 'QuarterTodo'));
                        $('#pic').val(getVal(d, 'PIC'));
                        $('#status').val(getVal(d, 'Status'));
                        $('#revenue').val(getVal(d, 'Revenue'));
                        $('#profitLoss').val(getVal(d, 'ProfitLoss'));
                        $('#auditFee').val(getVal(d, 'AuditFee'));
                        $('#dateBilled').val(formatDateForInput(getVal(d, 'DateBilled')));
                        $('#startDate').val(formatDateForInput(getVal(d, 'StartDate')));
                        $('#asAt').val(formatDateForInput(getVal(d, 'AsAt')));
                        $('#noOfDays').val(getVal(d, 'NoOfDays'));
                        $('#totalFieldWkDays').val(getVal(d, 'TotalFieldWkDays'));
                        $('#resultOverUnder').val(getVal(d, 'ResultOverUnder'));
                        $('#accSetup').val(getVal(d, 'AccSetup'));
                        $('#acSummary').val(getVal(d, 'AcSummary'));
                        $('#auditPlanning').val(getVal(d, 'AuditPlanning'));
                        $('#auditExecution').val(getVal(d, 'AuditExecution'));
                        $('#auditCompletion').val(getVal(d, 'AuditCompletion'));
                        $('#totalPercent').val(getVal(d, 'TotalPercent'));
                        $('#dateSent').val(formatDateForInput(getVal(d, 'DateSent')));
                        $('#endDate').val(formatDateForInput(getVal(d, 'EndDate')));
                        $('#resultOverUnderKuching').val(getVal(d, 'ResultOverUnderKuching'));
                        $('#dateSentKK').val(formatDateForInput(getVal(d, 'DateSentKK')));
                        $('#endDateKK').val(formatDateForInput(getVal(d, 'EndDateKK')));
                        $('#resultOverUnderKK').val(getVal(d, 'ResultOverUnderKK'));
                        $('#totalReviewDaysKK').val(getVal(d, 'TotalReviewDaysKK'));
                        $('#dateSentToKK').val(formatDateForInput(getVal(d, 'DateSentToKK')));
                        $('#dateReceivedAR').val(formatDateForInput(getVal(d, 'DateReceivedAR')));
                        $('#dateOfReport').val(formatDateForInput(getVal(d, 'DateOfReport')));
                        $('#dateOfDirectorsRept').val(formatDateForInput(getVal(d, 'DateOfDirectorsRept')));
                        $('#dateSentSigning').val(formatDateForInput(getVal(d, 'DateSentSigning')));
                        $('#flwUpDate').val(formatDateForInput(getVal(d, 'FlwUpDate')));
                        $('#dateReceivedSigning').val(formatDateForInput(getVal(d, 'DateReceivedSigning')));
                        $('#commOfOathsDate').val(formatDateForInput(getVal(d, 'CommOfOathsDate')));
                        $('#taxDueDate').val(formatDateForInput(getVal(d, 'TaxDueDate')));
                        $('#passToTaxDept').val(formatDateForInput(getVal(d, 'PassToTaxDept')));
                        $('#ssmDueDate').val(formatDateForInput(getVal(d, 'SSMDueDate')));
                        $('#datePassToSecDept').val(formatDateForInput(getVal(d, 'DatePassToSecDept')));
                        $('#dateBinded').val(formatDateForInput(getVal(d, 'DateBinded')));
                        $('#despatchDateToClient').val(formatDateForInput(getVal(d, 'DespatchDateToClient')));

                        $('#taskModal').modal('show');
                    } else {
                        showAlert('Error loading record: ' + (res?.message || 'Unknown error'), 'error');
                    }
                },
                error: function (xhr, status, error) {
                    $('#modalTitle').html('<i class="fas fa-edit me-2"></i>Edit Audit Template Record');
                    showAlert('Error loading record: ' + (xhr.statusText || 'Network error'), 'error');
                }
            });
        }

        // ---------- Delete ----------
        function deleteRecord(id) {
            if (!confirm('Are you sure you want to delete this record? This action cannot be undone.')) return;

            $.ajax({
                url: '/api/auditdept/at11/delete/' + id,
                type: 'DELETE',
                success: function (res) {
                    if (res && res.success) {
                        showAlert('Record deleted successfully.', 'success');
                        loadRecordsFromDatabase();
                    } else {
                        showAlert('Error deleting record: ' + (res?.message || 'Unknown error'), 'error');
                    }
                },
                error: function (xhr) {
                    showAlert('Error deleting record: ' + (xhr.statusText || 'Network error'), 'error');
                }
            });
        }

        // 日期格式化辅助函数
        function formatDateForInput(dateString) {
            if (!dateString) return '';
            try {
                const date = new Date(dateString);
                if (isNaN(date.getTime())) return '';
                const day = date.getDate().toString().padStart(2, '0');
                const month = (date.getMonth() + 1).toString().padStart(2, '0');
                const year = date.getFullYear();
                return `${day}/${month}/${year}`;
            } catch (e) {
                return '';
            }
        }

        // 打开创建模态框的函数
        function openCreateModal() {
            clearForm();
            $('#taskModal').modal('show');
        }
    </script>
}