@{
    ViewData["Title"] = "FormC";
}

<h1>FormC</h1>

<div class="row">
    <div class="col-md-12">
        <!-- Alert Container -->
        <div id="alertContainer"></div>

        <!-- /.card -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-tasks me-2"></i>Form C Records
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal" id="addNewBtn">
                        <i class="fas fa-plus me-2"></i>New Record
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body" style="overflow:auto">
                <table id="taskDatatable" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <!-- 第一行：主标题 -->
                        <tr>
                            <th colspan="3">TX Tax Scheduling</th>
                            <th colspan="3">Tax WIP</th>
                            <th colspan="3">Tax work process(Date Done)</th>
                            <th rowspan="2">Tax payable RM</th>
                            <th colspan="2">Review by MC</th>
                            <th colspan="2">Date to Client</th>
                            <th rowspan="2">Tax payment date</th>
                            <th rowspan="2">Form C submitted Date</th>
                            <th colspan="2">Billing</th>
                            <th colspan="2">Binding Date</th>
                            <th rowspan="2">Job Completed</th>
                            <th rowspan="2">Actions</th>
                        </tr>

                        <!-- 第二行：细分标题 -->
                        <tr>
                            <th rowspan="1">Tax Due Date</th>
                            <th rowspan="1">Est Quarter to do</th>
                            <th rowspan="1">Date mgmt acc available</th>
                            <th rowspan="1">a. Start Date</th>
                            <th rowspan="1">b. End Date</th>
                            <th rowspan="1">No of days</th>
                            <th rowspan="1">P&L Analysis</th>
                            <th rowspan="1">CA & Tax compu</th>
                            <th rowspan="1">Draft Form C</th>
                            <th rowspan="1">Tax comp/CA</th>
                            <th rowspan="1">Form C</th>
                            <th rowspan="1">Sent</th>
                            <th rowspan="1">Received</th>
                            <th rowspan="1">Inv Date</th>
                            <th rowspan="1">Fees</th>
                            <th rowspan="1">Printing</th>
                            <th rowspan="1">Despatch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data will be loaded dynamically -->
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<!-- 模态框部分 -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">
                    <i class="fas fa-edit me-2"></i>
                    <span id="modalTitle">Add New Form C Record</span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <input type="hidden" id="recordId" value="">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="taxDueDate">Tax Due Date</label>
                                <input type="text" id="taxDueDate" name="taxDueDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="estQuarterTodo">Est Quarter to do</label>
                                <input type="text" id="estQuarterTodo" name="estQuarterTodo" class="form-control" placeholder="Enter quarter" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dateMgmtAccAvailable">Date mgmt acc available</label>
                                <input type="text" id="dateMgmtAccAvailable" name="dateMgmtAccAvailable" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="startDate">a. Start Date</label>
                                <input type="text" id="startDate" name="startDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="endDate">b. End Date</label>
                                <input type="text" id="endDate" name="endDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="noOfDays">No of days</label>
                                <input type="text" id="noOfDays" name="noOfDays" class="form-control" placeholder="Enter days" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="pnLAnalysis">P&L Analysis</label>
                                <input type="text" id="pnLAnalysis" name="pnLAnalysis" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cAnTaxCompu">CA & Tax compu</label>
                                <input type="text" id="cAnTaxCompu" name="cAnTaxCompu" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="draftFormC">Draft Form C</label>
                                <input type="text" id="draftFormC" name="draftFormC" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="taxPayableRM">Tax payable RM</label>
                                <input type="text" id="taxPayableRM" name="taxPayableRM" class="form-control" placeholder="Enter amount" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="taxCompCA">Tax comp/CA</label>
                                <input type="text" id="taxCompCA" name="taxCompCA" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="formC">Form C</label>
                                <input type="text" id="formC" name="formC" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sent">Sent</label>
                                <input type="text" id="sent" name="sent" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="received">Received</label>
                                <input type="text" id="received" name="received" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="taxPaymentDate">Tax payment date</label>
                                <input type="text" id="taxPaymentDate" name="taxPaymentDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="formCsubmitedDate">Form C submitted Date</label>
                                <input type="text" id="formCsubmitedDate" name="formCsubmitedDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invDate">Inv Date</label>
                                <input type="text" id="invDate" name="invDate" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fees">Fees</label>
                                <input type="text" id="fees" name="fees" class="form-control" placeholder="Enter fees" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="printing">Printing</label>
                                <input type="text" id="printing" name="printing" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="despatch">Despatch</label>
                                <input type="text" id="despatch" name="despatch" class="form-control datepicker" placeholder="Select date" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="jobCompleted">Job Completed</label>
                                <select id="jobCompleted" name="jobCompleted" class="form-control">
                                    <option value="">Select Status</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                    <option value="In Progress">In Progress</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Cancel
                </button>
                <button type="button" class="btn btn-primary" id="saveBtn">
                    <i class="fas fa-save me-2"></i>Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <!-- Include DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <!-- Include Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function() {
            let dataTable;
            let currentEditId = null;

            // 初始化 DataTable
            initializeDataTable();

            // 初始化日期选择器
            initializeDatePickers();

            // 保存按钮点击事件
            $('#saveBtn').click(function() {
                saveFormCRecord();
            });

            // 初始化 DataTable
            function initializeDataTable() {
                dataTable = $('#taskDatatable').DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                    "ajax": {
                        "url": "/api/formc/get-all",
                        "type": "GET",
                        "dataSrc": function(response) {
                            if (response.success) {
                                return response.data;
                            } else {
                                console.error('Error loading data:', response.message);
                                showAlert('Error loading data: ' + response.message, 'danger');
                                return [];
                            }
                        }
                    },
                    "columns": [
                        { "data": "taxDueDate" },
                        { "data": "estQuarterTodo" },
                        { "data": "dateMgmtAccAvailable" },
                        { "data": "startDate" },
                        { "data": "endDate" },
                        { "data": "noOfDays" },
                        { "data": "pnLAnalysis" },
                        { "data": "cAnTaxCompu" },
                        { "data": "draftFormC" },
                        { "data": "taxPayableRM" },
                        { "data": "taxCompCA" },
                        { "data": "formC" },
                        { "data": "sent" },
                        { "data": "received" },
                        { "data": "taxPaymentDate" },
                        { "data": "formCsubmitedDate" },
                        { "data": "invDate" },
                        { "data": "fees" },
                        { "data": "printing" },
                        { "data": "despatch" },
                        {
                            "data": "jobCompleted",
                            "render": function(data, type, row) {
                                return data || 'No';
                            }
                        },
                        {
                            "data": "id",
                            "render": function(data, type, row) {
                                return `
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-warning edit-btn" data-id="${data}" title="Edit">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-sm btn-danger delete-btn" data-id="${data}" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                `;
                            },
                            "orderable": false
                        }
                    ]
                });
            }

            // 初始化日期选择器
            function initializeDatePickers() {
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    todayHighlight: true
                });
            }

            // 保存表单记录
            function saveFormCRecord() {
                const formData = {
                    taxDueDate: $('#taxDueDate').val(),
                    estQuarterTodo: $('#estQuarterTodo').val(),
                    dateMgmtAccAvailable: $('#dateMgmtAccAvailable').val(),
                    startDate: $('#startDate').val(),
                    endDate: $('#endDate').val(),
                    noOfDays: $('#noOfDays').val(),
                    pnLAnalysis: $('#pnLAnalysis').val(),
                    cAnTaxCompu: $('#cAnTaxCompu').val(),
                    draftFormC: $('#draftFormC').val(),
                    taxPayableRM: $('#taxPayableRM').val(),
                    taxCompCA: $('#taxCompCA').val(),
                    formC: $('#formC').val(),
                    sent: $('#sent').val(),
                    received: $('#received').val(),
                    taxPaymentDate: $('#taxPaymentDate').val(),
                    formCsubmitedDate: $('#formCsubmitedDate').val(),
                    invDate: $('#invDate').val(),
                    fees: $('#fees').val(),
                    printing: $('#printing').val(),
                    despatch: $('#despatch').val(),
                    jobCompleted: $('#jobCompleted').val()
                };

                const url = currentEditId ? '/api/formc/update' : '/api/formc/create';
                const method = currentEditId ? 'PUT' : 'POST';

                if (currentEditId) {
                    formData.id = currentEditId;
                }

                $.ajax({
                    url: url,
                    type: method,
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(response) {
                        if (response.success) {
                            $('#taskModal').modal('hide');
                            dataTable.ajax.reload();
                            resetForm();
                            showAlert('Record saved successfully!', 'success');
                        } else {
                            showAlert('Error saving record: ' + response.message, 'danger');
                        }
                    },
                    error: function(xhr, status, error) {
                        showAlert('Error saving record: ' + error, 'danger');
                    }
                });
            }

            // 编辑记录
            $(document).on('click', '.edit-btn', function() {
                const id = $(this).data('id');
                editRecord(id);
            });

            // 删除记录
            $(document).on('click', '.delete-btn', function() {
                const id = $(this).data('id');
                deleteRecord(id);
            });

            // 编辑记录
            function editRecord(id) {
                $.get(`/api/formc/get/${id}`, function(response) {
                    if (response.success) {
                        const record = response.data;
                        currentEditId = record.id;

                        // 填充表单
                        $('#taxDueDate').val(record.taxDueDate);
                        $('#estQuarterTodo').val(record.estQuarterTodo);
                        $('#dateMgmtAccAvailable').val(record.dateMgmtAccAvailable);
                        $('#startDate').val(record.startDate);
                        $('#endDate').val(record.endDate);
                        $('#noOfDays').val(record.noOfDays);
                        $('#pnLAnalysis').val(record.pnLAnalysis);
                        $('#cAnTaxCompu').val(record.cAnTaxCompu);
                        $('#draftFormC').val(record.draftFormC);
                        $('#taxPayableRM').val(record.taxPayableRM);
                        $('#taxCompCA').val(record.taxCompCA);
                        $('#formC').val(record.formC);
                        $('#sent').val(record.sent);
                        $('#received').val(record.received);
                        $('#taxPaymentDate').val(record.taxPaymentDate);
                        $('#formCsubmitedDate').val(record.formCsubmitedDate);
                        $('#invDate').val(record.invDate);
                        $('#fees').val(record.fees);
                        $('#printing').val(record.printing);
                        $('#despatch').val(record.despatch);
                        $('#jobCompleted').val(record.jobCompleted);

                        $('#modalTitle').text('Edit Form C Record');
                        $('#taskModal').modal('show');
                    } else {
                        showAlert('Error loading record: ' + response.message, 'danger');
                    }
                });
            }

            // 删除记录
            function deleteRecord(id) {
                if (confirm('Are you sure you want to delete this record?')) {
                    $.ajax({
                        url: `/api/formc/delete/${id}`,
                        type: 'DELETE',
                        success: function(response) {
                            if (response.success) {
                                dataTable.ajax.reload();
                                showAlert('Record deleted successfully!', 'success');
                            } else {
                                showAlert('Error deleting record: ' + response.message, 'danger');
                            }
                        },
                        error: function(xhr, status, error) {
                            showAlert('Error deleting record: ' + error, 'danger');
                        }
                    });
                }
            }

            // 重置表单
            function resetForm() {
                $('#taskForm')[0].reset();
                currentEditId = null;
                $('#modalTitle').text('Add New Form C Record');
                $('.datepicker').datepicker('update', '');
            }

            // 显示提示信息
            function showAlert(message, type) {
                const alertClass = `alert alert-${type} alert-dismissible fade show`;
                const alertHtml = `
                    <div class="${alertClass}" role="alert">
                        ${message}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                `;
                $('#alertContainer').html(alertHtml);

                // 自动隐藏
                setTimeout(() => {
                    $('.alert').alert('close');
                }, 5000);
            }

            // 模态框关闭时重置表单
            $('#taskModal').on('hidden.bs.modal', function() {
                resetForm();
            });
        });
    </script>
}